<template>
  <div class="add-project-btn">
    <v-tooltip right>
      <template v-slot:activator="{ on }">
        <v-btn
          icon
          class="gray-darken-2--text"
          v-on="on"
          @click="showModal"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>Создать подпроект</span>
    </v-tooltip>
  </div>
</template>

<script>
export default {
  name: 'AddProjectBtn',
  methods: {
    showModal () {
      this.$emit('show')
    }
  },
}
</script>