<template>
  <v-dialog
    v-model="modal"
    persistent
    max-width="570"
    min-width="570"
  >
    <v-card>
      <v-card-title>
        <v-textarea
          id="project-modal__input"
          v-model="name"
          solo
          autofocus
          flat
          rows="2"
          auto-grow
          row-height="30"
          class="headline"
          :hide-details="'auto'"
          :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addProjectDialog.name.placeholder')"
          :error-messages="nameErrors"
          :maxlength="100"
          @keydown.enter.prevent=""
          @keydown.enter="!project ? create() : update()"
        />
      </v-card-title>
      <v-card-text>
        <v-row
          class="project-modal__row"
        >
          <v-col
            id="image-grid"
            cols="7"
            class="image-grid project-modal__row--ls py-0"
          >
            <template v-for="img in projectBackgrounds">
              <v-img
                :id="`img-${img.id}`"
                :key="img.id"
                :src="`${url}${img.file}`"
                width="70"
                height="70"
                contain
                class="mb-5 mr-5 image-grid-img"
                :class="{ 'image-grid-img--active' : selectedBackground ? img.id === selectedBackground.id : ''}"
                @click="selectBackground(img)"
              />
            </template>
          </v-col>
          <v-col
            cols="5"
            class="d-flex align-center project-modal__row--rs py-0"
          >
            <v-img
              :src="`${url}${selectedBackground.secondary_file}`"
              height="270"
              contain
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-actions
        class="pa-4"
      >
        <v-spacer />
        <v-btn
          color="primary"
          rounded
          text
          @click="close"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addProjectDialog.discardBtn') }}
        </v-btn>
        <v-btn
          v-if="!project"
          color="primary"
          rounded
          text
          :loading="isLoading"
          @click="create"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addProjectDialog.createBtn') }}
        </v-btn>
        <v-btn
          v-else
          color="primary"
          rounded
          text
          :loading="isLoading"
          @click="update"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addProjectDialog.updateBtn') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
import { EventBus } from '../../main'

export default {
  name: 'ProjectModal',
  mixins: [validationMixin],
  props: {
    modal: Boolean,
    parent: Number,
    project: Object
  },
  validations: {
    name: {
      required
    },
  },
  data () {
    return {
      name: null,
      selectedBackground: null,
      url: process.env.VUE_APP_BASE_URL,
      isLoading: false
    }
  },
  computed: {
    ...mapGetters(['projectBackgrounds']),

    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push(this.$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addProjectDialog.name.requiredErrorMsg'))
        return errors 
    },
  },
  watch: {
    project: {
      immediate: true,
      deep: true,
      handler (newValue) {
        // if passed prop, set values for edit
        if (newValue) {
          this.name = newValue.name
          this.selectedBackground = newValue.image
        } 
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.scrollToSelectedBackground()
    })
  },
  created () {
    if (this.project) return
    this.selectBackground(this.projectBackgrounds[0])
  },
  methods: {
    create () {
      this.$v.$touch()
      if(!this.$v.$invalid) {
        this.$store.dispatch('createProject', {
          name: this.name,
          parent: this.parent,
          image: this.selectedBackground.id
        }).then(() => {
          this.$emit('fetch')
          // update for isValidProjId router hook
          this.$store.dispatch('getAllFlattenProjects')
          this.close()
        })
      }
    },
    update () {
      this.$store.dispatch('updateProject', {
        name: this.name,
        parent: this.parent ? this.parent : null,
        image: this.selectedBackground.id,
        id: this.project.id 
      }).then(() => {
        this.close()
        this.$emit('fetch', this.project.id)
        EventBus.$emit('updateProjects')
      })
    },
    selectBackground (img) {
      this.selectedBackground = img
    },
    close () {
      this.$emit('close')
    },
    scrollToSelectedBackground () {
      let imageId = this.selectedBackground.id
      this.$scrollTo(`#img-${imageId}`, 2000, {
        container: '#image-grid'
      })
    }
  },
}
</script>