<template>
  <div class="projects-list">
    <v-treeview
      :active.sync="selectedProject"
      :items="projects"
      expand-icon="mdi-chevron-down"
      hoverable
      transition
      :activatable="onlyView"
      :search="search"
      :open-all="!onlyView"
    >
      <template
        slot="label"
        slot-scope="props"
        @click.self.stop
      >
        <v-tooltip top>
          <template v-slot:activator="{ on }">
            <span
              v-on="on"
            >
              <router-link
                v-if="!onlyView"
                :to="`/project/${props.item.id}`"
                class="treeview-link"
                exact-active-class="exact-active"
                @click.self.stop
              >
                <v-hover v-slot:default="{ hover }">
                  <div class="tree-node">
                    <v-icon
                      v-if="!props.item.children.length"
                      small
                      class="mr-3"
                    >
                      mdi-checkbox-blank-circle
                    </v-icon>
                    <span>{{ props.item.name }}</span>
                    <add-project-btn
                      v-if="hover && !onlyView"
                      @show="setParent(props.item.id); showModal()"
                    />
                  </div>
                </v-hover>
              </router-link>
              <div
                v-else
                class="tree-node"
              >
                <v-icon
                  v-if="!props.item.children.length"
                  small
                  class="mr-3"
                >
                  mdi-checkbox-blank-circle
                </v-icon>
                <span>
                  {{ props.item.name }}
                </span>
              </div>
            </span>
          </template>
          <span>{{ props.item.name }}</span>
        </v-tooltip>
      </template>
      <template 
        v-if="onlyView"
        v-slot:append="{ active }"
      >
        <v-icon
          v-if="active"
          small
        >
          mdi-check
        </v-icon>
      </template>
    </v-treeview>
    <v-list-item
      v-if="!onlyView"
      link
      class="child-item add-proj"
      @click="showModal"
    >
      <v-list-item-content
        class="pl-12 d-flex"
      >
        {{ $vuetify.lang.t('$vuetify.Pages.Navigation.projectList.addProject') }}
      </v-list-item-content>
      <v-list-item-icon
        class="ma-0"
      >
        <v-icon class="mt-3">
          mdi-plus
        </v-icon>
      </v-list-item-icon>
    </v-list-item>

    <project-modal
      v-if="showProjModal"
      :parent="parent"
      :modal="showProjModal"
      @fetch="fetchData"
      @close="closeProjModal"
    />
  </div>
</template>

<script>
import AddProjectBtn from '@/components/Project/AddProjectBtn.vue'
import ProjectModal from '../../components/Project/ProjectModal'
import { mapGetters } from 'vuex'
import { EventBus } from '../../main'

export default {
  name: 'ProjectsList',
  components: {
    'add-project-btn': AddProjectBtn,
    'project-modal': ProjectModal
  },
  props: {
    onlyView: Boolean,
    search: String,
    selectedId: Array
  },
  data () {
    return {
      parent: null,
      selectedProject: [],
      showProjModal: false
    }
  },
  computed: {
    ...mapGetters(['projects']),

    /**
     * get rid from array, cause bubbling to SelectedProjModal
     */
    selected () {
      if (!this.selectedProject.length) return null
      const id = this.selectedProject[0]
      return id
    }
  },
  watch: {
    /**
     * pass selected proj from treeview to 
     * SelectProj modal
     */
    selectedProject: {
      immediate: true,
      deep: true,
      handler (newValue) {
        if (newValue) {
          EventBus.$emit('selectProject', this.selected)
        }
      }
    },
    /**
     * if proj was passed, need to select it
     */
    selectedId: {
      immediate: true,
      deep: true,
      handler (newValue) {
        if (newValue) {
          if (newValue[0] === null) return
          this.selectedProject = newValue
        }
      }
    }
  },
  created () {
    this.fetchData()

    EventBus.$on('updateProjects', () => {
      this.fetchData()
    })

    EventBus.$on('dropSelectedProject', () => {
      this.selectedProject = []
    })

    // fab create project handle
    EventBus.$on('showProjectModal', () => {
      this.showModal()
    })
  },
  methods: {
    fetchData () {
      this.$store.dispatch('getProjects')
    },
    setParent (id) {
      this.parent = id
    },
    showModal () {
      this.showProjModal = !this.showProjModal
    },
    closeProjModal () {
      this.showProjModal = false
      this.parent = null
    }
  },
}
</script>