<template>
  <div class="project-modal">
    <v-dialog
      v-model="modal"
      max-width="280"
      min-width="280"
      persistent
    >
      <v-card>
        <v-card-title class="title project-modal__title pt-2">
          {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.SelectProjectModal.title') }}
        </v-card-title>
        <v-text-field
          v-model="search"
          flat
          :label="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.SelectProjectModal.searchLabel')"
          prepend-inner-icon="mdi-magnify"
          solo                
          hide-details
          clearable
          clear-icon="mdi-close"
          class="py-0"
          height="38"
          @click:clear="clearSearch"
        />
        <project-list
          :onlyView="true"
          :search="search"
          :selectedId="[selected]"
        />
        <v-card-actions>
          <v-spacer />
          <v-btn
            color="primary"
            text
            rounded
            class="add-task-dialog__save-btn"
            @click="close"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.SelectProjectModal.discardBtn') }}
          </v-btn>
          <v-btn
            color="primary"
            text
            rounded
            class="add-task-dialog__save-btn"
            :disabled="noneSelected"
            @click="add"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.SelectProjectModal.confirmBtn') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ProjectList from '../../components/Project/ProjectList'
import { EventBus } from '../../main'

export default {
  name: 'SelectProjectModal',
  components: {
    'project-list': ProjectList,
  },
  props: {
    modal: Boolean,
    isLoading: Boolean,
    selected: Number
  },
  data () {
    return {
      search: null,
      selectedProjectId: [],
      noneSelected: null
    }
  },
  watch: {
    selectedProjectId: {
      immediate: true,
      deep: true,
      handler (newValue) {
        this.noneSelected = newValue === null ? true : false 
      }
    }
  },
  created () {
    /**
     * store value into local var from ProjectList
     * cause selected proj appear there and bubbling to this component up
     */
    EventBus.$on('selectProject', item => {
      this.selectedProjectId = item
    })
  },
  methods: {
    add () {
      this.$emit('add', 'project', this.selectedProjectId)
      this.close()
      // don't close detail view is Events page, cause event stay on feed
      if (this.$route.name === 'Events') return
      this.$emit('close')
    },
    clearSearch () {
      this.search = null
    },
    close () {
      this.$emit('reset')
      this.resetForm()
    },
    resetForm () {
      this.clearSearch()
      this.selectedProjectId = null
      // reset in parent ProjList
      EventBus.$emit('dropSelectedProject')
    }
  }
}
</script>
