/* Add task rounded input placeholder */
@mixin smInputText($color)
  font-family: Roboto
  font-style: normal
  font-weight: 500
  font-size: 10px
  line-height: 16px
  color: $color
  letter-spacing: 1.5px
  text-transform: uppercase
  text-align: center

/* Overline mixin for placeholder */
@mixin overline()
  color: $gray-darken-1 !important
  font-size: 0.625rem !important
  font-weight: 400
  letter-spacing: 0.1666666667em !important
  line-height: 1rem
  text-transform: uppercase
  font-family: "Roboto", sans-serif !important

/* body-1 mixin*/
@mixin body1()
  font-size: 1rem !important
  font-weight: 400
  letter-spacing: 0.03125em !important
  line-height: 1.5rem
  font-family: "Roboto", sans-serif !important

/* body-2 mixin */
@mixin body2()
  font-size: 0.875rem !important
  font-weight: 400
  letter-spacing: 0.0178571429em !important
  line-height: 1.25rem
  font-family: "Roboto", sans-serif !important

/* subtitle-1 mixin */
@mixin subtitle1()
  font-size: 1rem !important
  font-weight: 400
  letter-spacing: 0.009375em !important
  line-height: 1.75rem
  font-family: "Roboto", sans-serif !important

@import '~vuetify/src/styles/styles.sass'
@mixin backgroundHomePageHeader($x-position, $y-position)
  background: url('./img/home/v6-circles.png') no-repeat #{$x-position} #{$y-position} / cover, linear-gradient(270.86deg, #6B98BF 0.57%, #324359 99.54%) !important
  @media #{map-get($display-breakpoints, 'md-and-down')}
    background: url('./img/home/v6-circles.png') no-repeat #{$x-position} #{$y-position}, linear-gradient(270.86deg, #6B98BF 0.57%, #324359 99.54%) !important