/** ------------------------------------------------ **/
.swipe-page-enter-active
  animation: bounce-in .3s

@keyframes bounce-in
  0%
    transform: scale(0.85)
    opacity: 0.5

  100%
    transform: scale(1)
    opacity: 0.9

/** ------------------------------------------------ **/