<template>
  <div class="account">
    <v-container class="pa-8">
      <v-row>
        <p class="headline pl-3 ma-0">
          {{ $vuetify.lang.t('$vuetify.Account.header') }}
        </p>
      </v-row>
      <v-row
        justify="center"
      >
        <v-col
          xl="9"
          lg="10"
          md="12"
        >
          <!-- PROFILE CARD -->
          <v-row>
            <p class="subtitle-2 pl-3">
              {{ $vuetify.lang.t('$vuetify.Account.ProfileCard.title') }}
            </p>
          </v-row>

          <v-card
            color="white"
            class="mb-6"
          >
            <v-form
              @keyup.enter.native="updateProfile"
            >
              <v-row class="account-card__password-row align-center justify-center">
                <v-col cols="4">
                  <v-subheader
                    class="subtitle-1"
                  >
                    {{ $vuetify.lang.t('$vuetify.Account.ProfileCard.form.name.label') }}
                  </v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="name"
                    :error-messages="nameErrors"
                    type="text"
                    single-line
                    background-color="white"
                    required
                  />
                </v-col>
              </v-row>

              <v-row class="account-card__password-row align-center justify-center">
                <v-col cols="4">
                  <v-subheader
                    class="subtitle-1"
                  >
                    {{ $vuetify.lang.t('$vuetify.Account.ProfileCard.form.email.label') }}
                  </v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="email"
                    :error-messages="emailErrors"
                    :maxlength="100"
                    single-line
                    background-color="white"
                  />
                </v-col>
              </v-row>
            </v-form>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                rounded
                class="ma-5"
                :loading="isLoading"
                :disabled="!isDisabled"
                @click="updateProfile"
              >
                {{ $vuetify.lang.t('$vuetify.Account.ProfileCard.form.ProfileCardBtn') }}
              </v-btn>
            </v-card-actions>
          </v-card>

          <!-- PASSWORD CHANGE CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.PasswordChangeCard.title') }}
            </p>
          </v-row>

          <v-card
            color="white"
            class="account-card__password mb-6"
          >
            <v-form
              @keyup.enter.native="changePassword"
            >
              <v-row class="account-card__password-row align-center justify-center">
                <v-col cols="4">
                  <v-subheader
                    class="subtitle-1"
                  >
                    {{ $vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.oldPassword.label') }}
                  </v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="password"
                    type="password"
                    single-line
                    background-color="white"
                    required
                    :error-messages="passErrors"
                    @input="$v.password.$touch()"
                    @blur="$v.password.$touch()"
                  />
                </v-col>
              </v-row>

              <v-row class="account-card__password-row align-center justify-center">
                <v-col cols="4">
                  <v-subheader
                    class="subtitle-1"
                  >
                    {{ $vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.label') }}
                  </v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="newPassword"
                    type="password"
                    single-line
                    background-color="white"
                    required
                    :error-messages="newPasswordErrors"
                    @input="$v.newPassword.$touch()"
                    @blur="$v.newPassword.$touch()"
                  />
                </v-col>
              </v-row>

              <v-row class="account-card__password-row align-center justify-center">
                <v-col cols="4">
                  <v-subheader
                    class="subtitle-1"
                  >
                    {{ $vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.label') }}
                  </v-subheader>
                </v-col>
                <v-col cols="7">
                  <v-text-field
                    v-model="newPasswordConfirm"
                    type="password"
                    single-line
                    background-color="white"
                    required
                    :error-messages="newPasswordConfirmErrors"
                    @input="$v.newPasswordConfirm.$touch()"
                    @blur="$v.newPasswordConfirm.$touch()"
                  />
                </v-col>
              </v-row>
            </v-form>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                rounded
                class="ma-5"
                :loading="isPassLoading"
                @click="changePassword"
              >
                {{ $vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.PasswordChangeCardBtn') }}
              </v-btn>
            </v-card-actions>
          </v-card>

          <!-- CONNECT GCAL CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.title') }}
            </p>
          </v-row>
            
          <v-card
            color="white"
            class="mb-6"
          >
            <v-row>
              <v-col
                offset="1"
                cols="1"
                class="d-flex align-center"
              >
                <v-img
                  src="@/img/gcal-icon.png"
                  height="50"
                  contain
                />
              </v-col>
              <v-col
                cols="10"
              >
                <v-card-subtitle
                  class="px-5"
                >
                  <p class="body-1 ma-2 pb-1">
                    {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.caption') }}
                  </p>
                  <v-card-actions
                    v-if="!isGoogleCalendarLinked"
                  >
                    <v-spacer />
                    <v-btn
                      id="google-calendar-btn"
                      tile
                      color="google-color"
                      dark
                      height="40"
                      :loading="isGCalLoading"
                      class="body-2"
                      @click="setGoogleCalendarPermission"
                    >
                      <div class="icon-wrapper mr-4">
                        <v-icon
                          left
                          small
                        />
                      </div>
                      
                      {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.GoogleCalendarLinkCardBtn') }}
                    </v-btn>
                  </v-card-actions>
                  <div
                    v-else
                  >
                    <p
                      class="body-1 pl-2"
                    >
                      <i18n
                        path="$vuetify.Account.GoogleCalendarLinkCard.syncStatus.message"
                      >
                        <template v-slot:gcalName>
                          <b>{{ googleCalendarLinked.name }}</b>
                        </template>
                      </i18n>
                    </p>
                    <v-card-actions>
                      <v-spacer />
                      <v-btn
                        rounded
                        color="primary"
                        dark
                        :loading="isGCalLoading"
                        @click="unlinkGoogleCalendar"
                      >
                        {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.syncStatus.syncStatusBtn') }}
                      </v-btn>
                    </v-card-actions>
                  </div>
                </v-card-subtitle>
              </v-col>
            </v-row>
          </v-card>

          <!-- LANGUAGE SETTINGS CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.LanguageSettingsCard.title') }}
            </p>
          </v-row>
            
          <v-card
            color="white"
            class="mb-6"
          >
            <v-row class="align-center justify-center pt-3">
              <v-col cols="4">
                <v-subheader
                  class="subtitle-1"
                >
                  {{ $vuetify.lang.t('$vuetify.Account.LanguageSettingsCard.selectLanguageLabel') }}
                </v-subheader>
              </v-col>
              <v-col cols="7">
                <v-select
                  v-model="locale"
                  :items="languages"
                  item-text="name"
                  item-value="value"
                  label=""
                >
                  <template v-slot:selection="slotProps">
                    <i :class="['mr-2', 'em', slotProps.item.flag]" />
                    {{ slotProps.item.name }}
                  </template>
                  <template v-slot:item="slotProps">
                    <i :class="['mr-2', 'em', slotProps.item.flag]" />
                    {{ slotProps.item.name }}
                  </template>
                </v-select>
              </v-col>
            </v-row>
            <v-card-actions>
              <v-spacer />
              <v-btn
                color="primary"
                class="ma-5"
                rounded
                @click="setLocale"
              >
                {{ $vuetify.lang.t('$vuetify.Account.LanguageSettingsCard.LanguageSettingsCardBtn') }}
              </v-btn>
            </v-card-actions>
          </v-card>

          <!-- DELETE ACCOUNT CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.title') }}
            </p>
          </v-row>
            
          <v-card
            color="white"
            class="mb-6"
          >
            <v-card-subtitle
              class="px-8"
            >
              <p class="body-1 ma-2 text-center">
                {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.userWarningText') }}
              </p>
            </v-card-subtitle>

            <v-card-actions>
              <v-spacer />
              <v-btn
                color="error"
                class="ma-5"
                rounded
                @click="showDialog = !showDialog"
              >
                {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.DeleteAccountCardBtn') }}
              </v-btn>
            </v-card-actions>
          </v-card>

          <!-- STORAGE CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.StorageCard.title') }}
            </p>
          </v-row>
            
          <v-card
            color="white"
            class="mb-6"
          >
            <v-row
              class="px-4"
            >
              <v-col
                cols="8"
                offset="2"
                align-self="center"
                class="mt-3 px-0"
              >
                <v-progress-linear
                  v-model="userLimit.usedStorageSize"
                  color="primary"
                  rounded
                  height="8"
                  style="pointer-events: none"
                />
                <p class="overline text-center pt-3">
                  <i18n
                    path="$vuetify.Account.StorageCard.storageUsage"
                  >
                    <template v-slot:usedStorageSize>
                      {{ userLimit.usedStorageSize }}
                    </template>
                    <template v-slot:fullStorageSize>
                      {{ userLimit.fullStorageSize }}
                    </template>
                  </i18n>
                </p>
              </v-col>
              <v-spacer />
              <!-- TODO: buy premium action dialog? -->
              <!-- <v-btn
                color="primary"
                class="ma-5"
                rounded
              >
                {{ $vuetify.lang.t('$vuetify.Account.StorageCard.StorageCardBtn') }}
              </v-btn> -->
            </v-row>
          </v-card>

          <!-- LOGOUT CARD -->
          <v-row>
            <p class="subtitle-2 pl-3 mt-3">
              {{ $vuetify.lang.t('$vuetify.Account.LogoutCard.title') }}
            </p>
          </v-row>
            
          <v-card
            color="white"
            class="mb-6"
          >
            <v-row
              class="px-4"
            >
              <v-card-subtitle
                class="px-8"
              >
                <p class="body-1 ma-2">
                  {{ $vuetify.lang.t('$vuetify.Account.LogoutCard.caption') }}
                </p>
              </v-card-subtitle>
              <v-spacer />
              <v-btn
                color="info"
                class="ma-5"
                rounded
                @click="exit"
              >
                {{ $vuetify.lang.t('$vuetify.Account.LogoutCard.LogoutCardBtn') }}
              </v-btn>
            </v-row>
          </v-card>
          <p
            class="text-center pt-3"
          >
            {{ $vuetify.lang.t('$vuetify.Account.feedback.text') }}
            <router-link
              to="/feedback"
              style="text-decoration: none"
            >
              {{ $vuetify.lang.t('$vuetify.Account.feedback.link') }}
            </router-link>
          </p>
        </v-col>
      </v-row>

      <!-- DELETE ACCOUNT DIALOG -->
      <v-dialog
        v-model="showDialog"
        width="500"
      >
        <v-card>
          <v-card-title class="headline">
            {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.deleteAccountDialog.title') }}
          </v-card-title>
          <v-card-text>
            {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.deleteAccountDialog.deleteWarningText') }}
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              rounded
              @click="showDialog = false"
            >
              {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.deleteAccountDialog.discardBtn') }}
            </v-btn>
            <v-btn
              color="error"
              rounded
              @click="deleteAccount"
            >
              {{ $vuetify.lang.t('$vuetify.Account.DeleteAccountCard.deleteAccountDialog.confirmBtn') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- USERS CALENDAR LIST DIALOG -->
      <v-dialog
        v-model="showCalendarListDialog"
        scrollable
        width="300"
      >
        <v-card>
          <v-card-title class="title text-h6 pt-4">
            {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.calendarListDialog.selectCalendarText') }}
          </v-card-title>
          <v-card-text>
            <v-list
              subheader
              flat
              max-height="300"
            >
              <v-list-item-group
                v-model="selectedCalendar"
              >
                <template
                  v-for="(calendar, index) in calendarList"
                >
                  <v-list-item
                    :key="index"
                    :value="calendar"
                  >
                    <template v-slot:default="{ active, toggle }">
                      <v-list-item-action>
                        <v-avatar
                          :color="calendar.backgroundColor"
                          size="10"
                        />
                      </v-list-item-action>
                      <v-list-item-content
                        @click.native="toggle"
                      >
                        <v-list-item-title>{{ calendar.summary }}</v-list-item-title>
                      </v-list-item-content>
                      <v-list-item-action>
                        <v-icon
                          v-if="active"
                          small
                        >
                          mdi-check
                        </v-icon>
                      </v-list-item-action>
                    </template>
                  </v-list-item>
                </template>
              </v-list-item-group>
            </v-list>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn
              rounded
              text
              color="primary"
              @click="closeCalendarDialog"
            >
              {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.calendarListDialog.discardBtn') }}
            </v-btn>
            <v-btn
              color="primary"
              text
              :loading="isLoading"
              :disabled="!selectedCalendar"
              @click="linkGoogleCalendar"
            >
              {{ $vuetify.lang.t('$vuetify.Account.GoogleCalendarLinkCard.calendarListDialog.confirmBtn') }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { helpers } from 'vuelidate/lib/validators'
import { required, sameAs, not, minLength, maxLength } from 'vuelidate/lib/validators'
import { mapGetters } from 'vuex'
const noSpaces = helpers.regex('noSpaces', /^\S*$/)
const noCyrUsernameEmail = helpers.regex('noCyrUsernameEmail', /^(.+?[a-zA-Z0-9]@+)/)
const email = helpers.regex(
  'isEmailValidator',
  /(^$|^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([а-яА-Яa-zA-Z\-0-9]+\.)+[а-яА-Яa-zA-Z]{2,}))$)/
)

export default {
  name: 'Account',
  mixins: [validationMixin],
  data () {
    return {
      password: null,
      newPassword: null,
      newPasswordConfirm: null,
      name: null,
      email: null,
      error: null,
      showDialog: false,
      showCalendarListDialog: false,
      calendarList: [],
      selectedCalendar: null,

      // loaders
      isLoading: false,
      isPassLoading: false,
      isGCalLoading: false,
    }
  },
  validations: {
    name: {
      required
    },
    email: {
      required,
      email,
      noCyrUsernameEmail
    },
    password: {
      required,
      noSpaces
    },
    newPassword: {
      required,
      isNotSameAsPassword: not(sameAs('password')),
      minLength: minLength(8),
      maxLength: maxLength(40),
      noSpaces
    },
    newPasswordConfirm: {
      required,
      sameAsPassword: sameAs('newPassword'),
      minLength: minLength(8),
      maxLength: maxLength(40),
      noSpaces
    }
  },
  computed: {
    ...mapGetters([
      'isGoogleCalendarLinked',
      'googleCalendarLinked',
      'locale',
      'getUser'
    ]),

    userLimit () {
      let userLimit = {
        usedStorageSize: this.getUser ? this.bytesToSize(this.getUser.storage_size) : null,
        fullStorageSize: this.getUser ? this.bytesToSize(this.getUser.storage_limit) : null
      }
      return userLimit
    },
    locale: {
      get () {
        return this.$store.getters.locale
      },
      set (value) {
        this.$store.commit('setLocale', value)
      },
    },
    languages () {
      let lang = [
        {
          name: this.$vuetify.lang.t('$vuetify.Account.LanguageSettingsCard.languages[0]'),
          flag: 'em em-ru',
          value: 'ru'
        },
        {
          name: this.$vuetify.lang.t('$vuetify.Account.LanguageSettingsCard.languages[1]'),
          flag: 'em em-us',
          value: 'en'
        }
      ]
      return lang
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push(this.$vuetify.lang.t('$vuetify.Account.ProfileCard.form.name.requiredErrorMsg'))
        return errors 
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push(this.$vuetify.lang.t('$vuetify.Account.ProfileCard.form.email.requiredErrorMsg'))
        !this.$v.email.email && errors.push(this.$vuetify.lang.t('$vuetify.Account.ProfileCard.form.email.commonErrorMsg'))
        !this.$v.email.noCyrUsernameEmail && errors.push(this.$vuetify.lang.t('$vuetify.Account.ProfileCard.form.email.commonErrorMsg'))
        return errors 
    },
    passErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.oldPassword.requiredErrorMsg'))
        !this.$v.password.noSpaces && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.oldPassword.noSpacesErrorMsg'))
        return errors 
    },
    newPasswordErrors () {
      const errors = []
      if (!this.$v.newPassword.$dirty) return errors
        !this.$v.newPassword.required && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.requiredErrorMsg'))
        !this.$v.newPassword.isNotSameAsPassword && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.isNotSameAsPasswordErrorMsg'))
        !this.$v.newPassword.minLength && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.minLengthErrorMsg'))
        !this.$v.newPassword.maxLength && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.maxLengthErrorMsg'))
        !this.$v.newPassword.noSpaces && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPassword.noSpacesErrorMsg'))
        return errors 
    },
    newPasswordConfirmErrors () {
      const errors = []
      if (!this.$v.newPasswordConfirm.$dirty) return errors
        !this.$v.newPasswordConfirm.required && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.requiredErrorMsg'))
        !this.$v.newPasswordConfirm.sameAsPassword && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.sameAsPasswordErrorMsg'))
        !this.$v.newPassword.minLength && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.minLengthErrorMsg'))
        !this.$v.newPassword.maxLength && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.maxLengthErrorMsg'))
        !this.$v.newPassword.noSpaces && errors.push(this.$vuetify.lang.t('$vuetify.Account.PasswordChangeCard.form.newPasswordConfirm.noSpacesErrorMsg'))
        return errors 
    },
    isDisabled () {
      if (this.$store.getters.getUser && (this.name === this.$store.getters.getUser.full_name && this.email === this.$store.getters.getUser.email)) {
        return false
      } else {
        return true
      }
    }
  },
  created () {
    this.setData()
    this.isGoogleCalendarConnected()
    this.getUserInfo()
  },
  methods: {
    bytesToSize (bytes) {
      let form = this.locale === 'ru' ? 'МБ' : 'MB'
      return `${Math.round(bytes / Math.pow(1024, 2))} ${form}`
    },
    getUserInfo () {
      this.$store.dispatch('getUserInfo')
    },
    changePassword () {
      this.$v.password.$touch()
      this.$v.newPassword.$touch()
      this.$v.newPasswordConfirm.$touch()
      if(!this.$v.password.$invalid && !this.$v.newPassword.$invalid &&  !this.$v.newPasswordConfirm.$invalid) {
        this.isPassLoading = true
        this.$store.dispatch('changePassword', {
            password: this.password,
            newPassword: this.newPassword
          })
          .then(() => {
            this.resetChangePasswordForm()
          })
          .catch(error => {
            this.error = error.status
          })
          .finally(() => {
            this.isPassLoading = false
            this.$v.$reset()
          })
      }
    },
    resetChangePasswordForm () {
      this.password = null
      this.newPassword = null
      this.newPasswordConfirm = null
    },
    setData () {
      this.email = this.$store.getters.getUser.email
      this.name = this.$store.getters.getUser.full_name
    },
    updateProfile () {
      this.$v.name.$touch()
      this.$v.email.$touch()
      if(!this.$v.name.$invalid && !this.$v.email.$invalid) {
        this.isLoading = true
          this.$store.dispatch('updateUser', {
              fullName: this.name,
              email: this.email
            })
            .then(() => {
              this.isLoading = false
            })
      }
    },
    deleteAccount () {
      this.isLoading = true
        this.$store.dispatch('deleteUser')
          .then(() => {
            this.$store.dispatch('logout').then(() => {
              this.$router.push('/login')
            })
          })
          .catch(error => {
            this.error = error.status
          })
          .finally(() => {
            this.isLoading = false
          })
    },
    exit () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
        this.$store.dispatch('resetTasksState')
        this.$store.dispatch('resetEventsState')
        if (this.$gAuth.isAuthorized) {
          this.$gAuth.signOut()
        }
      })
    },
    showCalendarDialog () {
      this.showCalendarListDialog = true
    },
    closeCalendarDialog () {
      this.showCalendarListDialog = false
    },
    isGoogleCalendarConnected () {
      this.$store.dispatch('isGoogleCalendarConnected')
    },
    setGoogleCalendarPermission () {
      this.isGCalLoading = true
      this.$gapi.getGapiClient().then((gapi) => {
        let gUser = gapi.auth2.getAuthInstance()
        gUser.grantOfflineAccess({
          scope: 'https://www.googleapis.com/auth/calendar'
        }).then((response) => {
          let authCode = response.code
          this.$store.dispatch('googleCalendarAuthorize', authCode).then(() => {
            this.showCalendarDialog()
            let request = gapi.client.calendar.calendarList.list()
            request.execute((response) => {
              this.calendarList = response.items
              this.selectedCalendar = response.items[0]
            })
          })
        })
      })
    },
    linkGoogleCalendar () {
      this.isGCalLoading = true
      this.$store.dispatch('googleCalendarLink', {
        id: this.selectedCalendar.id,
        name: this.selectedCalendar.summary
      }).then(() => {
        this.isGCalLoading = false
        this.closeCalendarDialog()
        this.isGoogleCalendarConnected()
      })
    },
    unlinkGoogleCalendar () {
      this.isGCalLoading = true
      this.$store.dispatch('googleCalendarUnlink', this.googleCalendarLinked.id).then(() => {
        this.isGCalLoading = false
        this.isGoogleCalendarConnected()
      })
    },
    setLocale () {
      this.$store.dispatch('setLocale', this.locale).then(() => {
        window.location.reload(true)
      })
    }
  },
}
</script>
