<template>
  <div class="time-modal">
    <v-dialog
      v-model="modal"
      persistent
      min-width="400"
      max-width="400"
    >
      <v-card>
        <v-card-title class="title notification-modal__title pt-2">
          {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.title') }}
        </v-card-title>

        <v-card-text class="py-4 px-8">
          <!-- TIME START SECTION -->
          <v-row class="task-start align-center">
            <v-col cols="4">
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeStart.label') }}
              </p>
            </v-col>
            <v-col
              cols="4"
              class="px-0 mr-2"
            >
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-start__input-date"
                    :value="formattedDate.startDate"
                    class="task-start__input-date"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeStart.datePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="startDate"
                  :locale="$store.getters.locale"
                  :first-day-of-week="1"
                  no-title
                />
              </v-menu>
            </v-col>
            <v-col
              cols="3"
              class="px-0 ml-2"
            >
              <v-menu
                ref="menuStartTime"
                v-model="menuStartTime"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="startTime"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-start__input-time"
                    v-model="startTime"
                    class="task-start__input-time"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeStart.timePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    :disabled="allDayEvent"
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-time-picker
                  v-if="menuStartTime"
                  v-model="startTime"
                  full-width
                  :format="$store.getters.locale === 'ru' ? '24hr' : 'ampm'"
                  :ampm-in-title="$store.getters.locale === 'ru' ? false : true"
                  @click:minute="$refs.menuStartTime.save(startTime)"
                  @change="checkNextDay"
                />
              </v-menu>
            </v-col>
          </v-row>

          <!-- TIME END SECTION -->
          <v-row
            class="task-end align-center"
          >
            <v-col
              cols="4"
            >
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeEnd.label') }}
              </p>
            </v-col>
            <v-col
              cols="4"
              class="px-0 mr-2"
            >
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-end__input-date"
                    :value="formattedDate.endDate"
                    class="task-end__input-date"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeEnd.datePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="endDate"
                  :min="startDate"
                  no-title
                  :locale="$store.getters.locale"
                  :first-day-of-week="1"
                />
              </v-menu>
            </v-col>
            <v-col
              cols="3"
              class="px-0 ml-2"
            >
              <v-menu
                ref="menuEndTime"
                v-model="menuEndTime"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="endTime"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-end__input-time"
                    v-model="endTime"
                    class="task-end__input-time"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.TimeEnd.timePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    :disabled="allDayEvent"
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-time-picker
                  v-if="menuEndTime"
                  v-model="endTime"
                  full-width
                  :format="$store.getters.locale === 'ru' ? '24hr' : 'ampm'"
                  :ampm-in-title="$store.getters.locale === 'ru' ? false : true"
                  :min="minEventTime"
                  @click:minute="$refs.menuEndTime.save(endTime)"
                />
              </v-menu>
            </v-col>
          </v-row>

          <!-- ALL DAY SWITCH -->
          <v-row
            class="align-center pt-0"
          >
            <v-col
              cols="4"
            >
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.allDaySwitch') }}
              </p>
            </v-col>
            <v-col
              cols="8"
            >
              <v-switch
                v-model="allDayEvent"
                class="mt-0"
                inset
                dense
                hide-details
              />
            </v-col>
          </v-row>
        </v-card-text>

        <!-- ACTIONS -->
        <v-card-actions>
          <v-spacer />
          <!-- NOTE: Reset data in parent component = close dialog -->
          <v-btn
            color="primary"
            rounded
            text
            class="add-task-dialog__discard-btn"
            @click="close"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.discardBtn') }}
          </v-btn>
          <v-btn
            color="primary"
            rounded
            text
            class="add-task-dialog__save-btn"
            @click="add"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewModals.TimeModal.confirmBtn') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SetEventTimeMixin from '@/components/mixins/SetEventTimeMixin.vue'
import moment from 'moment'
import 'moment/locale/ru'
import { mapGetters } from 'vuex'

export default {
  name: 'TimeModal',
  mixins: [SetEventTimeMixin],
  props: {
    modal: Boolean,
    currentItem: Object,
    start: String,
    end: String
  },
  data () {
    return {
      startDate: null,
      startTime: null,
      endDate: null,
      endTime: null,

      // menus
      menuStartTime: false,
      menuEndTime: false,
    }
  },
  computed: {
    ...mapGetters(['calendarDate']),

    formattedDate () {
      let formattedDate = {
        startDate: this.startDate ? moment(this.startDate).format('L') : '',
        endDate: this.endDate ? moment(this.endDate).format('L') : ''
      }
      return formattedDate
    },
    /**
     * Sets min range for time end of event, if event continues more than
     * one day
     **/
    minEventTime () {
      let minEventTime
      if (this.formattedDate.startDate === this.formattedDate.endDate) {
        minEventTime = this.startTime
      } else {
        minEventTime = null
      }
      return minEventTime
    },
  },
  watch: {
    // NOTE: if prop null, set today date, else set prop value
    start: {
      immediate: true,
      deep: true,
      handler () {
        if (this.currentItem) {
          if (this.start === null) {
            this.startDate = this.calendarDate
            this.startTime = moment().add(1, 'hours').format('LT')
          } else {
            this.startDate = moment.utc(this.start).local().format('YYYY-MM-DD')
            this.startTime = moment.utc(this.start).local().format('LT')
          }
        }
      }
    },
    end: {
      immediate: true,
      deep: true,
      handler () {
        if (this.currentItem) {
          if (this.end === null) {
            this.endDate = this.calendarDate
            this.endTime = moment().add(2, 'hours').format('LT')
          } else {
            this.endDate = moment.utc(this.end).local().format('YYYY-MM-DD')
            this.endTime = moment.utc(this.end).local().format('LT')
          }
        }
      }
    },
  },
  created () {
    this.checkAllDayEventState()
  },
  methods: {
    resetForm () {
      this.allDayEvent = false
    },
    close () {
      this.$emit('reset')
      this.resetForm()
    },
    add () {
      this.$emit('add', 'time', {
        'start' : this.formattedEvent.start,
        'end' : this.formattedEvent.end,
        'full_day' : this.allDayEvent
      })
      this.close()
    },
    checkAllDayEventState () {
      if (this.currentItem.full_day) {
        this.allDayEvent = true
      }
    }
  },
}
</script>
