.tree-node
  display: flex
  justify-content: flex-start
  align-items: center
  span
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
  i.mdi-checkbox-blank-circle
    font-size: 5px !important

.add-project-btn
  margin-left: auto