.image-grid
  display: flex
  flex-wrap: wrap
  &-img
    border-radius: 20px
    &--active
      border: 2px solid $primary

.project-modal
  &__row
    &--ls
      height: 270px
      overflow-y: scroll
    &--rs
      height: 270px