<template>
  <!-- FIXME: lg,xl - align center (without sidebars) -->
  <v-flex
    class="py-0 px-0"
    lg12
    md12
  >
    <v-layout
      wrap
      d-flex
      class="events"
    >
      <!-- LEFT WORK AREA -->
      <v-flex
        id="events__left-side"
        xl5
        lg5
        md5
        class="events__left-side pl-4"
      >
        <v-infinite-scroll
          id="events-scroll"
          class="events-scroll"
          :loading="isLoading"
          :on-top-scrolls-to-bottom="false"
          :offset="50"
          @top="prevPage"
          @bottom="nextPage"
        >
          <div class="text-center py-5">
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              width="1"
              color="gray"
            />
          </div>
          <template v-for="event in events">
            <div
              :id="`day-${formatScrollId(event.date)}`"
              :key="event.id"
            >
              <p
                class="display-1"
                :class="{'events--empty': event.events.length === 0}"
              >
                {{ formatFeedDate(event.date) }}
              </p>
              <div
                v-for="child in sortByAllDayEnd(event.events)"
                :key="child.index"
              >
                <event-card 
                  :item="child"
                  :currentItem="currentItem"
                  @select="selectItem"
                  @done="doneItem"
                />
              </div>
            </div>
          </template>
          <div class="text-center py-5">
            <v-progress-circular
              v-if="isLoading"
              indeterminate
              width="1"
              color="gray"
            />
          </div>
        </v-infinite-scroll>
      </v-flex>

      <!-- RIGHT WORK AREA -->
      <v-flex
        xl7
        lg7
        md7
        class="events__right-side px-6 py-60"
      >
        <!-- DETAIL VIEW COMPONENT with task props-->
        <detail-view
          v-if="isDetailViewShow"
          :currentItem="currentItem"
          :items="allEvents"
          @close="closeDetailView"
          @fetch="fetchData"
          @update="updateItem"
          @updateCurrentItem="updateCurrentItem"
          @select="selectItem"
        />
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import Card from '../../components/Card'
import DetailView from '../../components/DetailView'
import ScrollToMixin from '@/components/mixins/ScrollToMixin.vue'
import ManipulatingMixin from '@/components/mixins/ManipulatingMixin.vue'

import { EventBus } from '../../main'
import moment from 'moment'
import 'moment/locale/ru'
import 'moment/locale/en-nz'
import { mapGetters } from 'vuex'

export default {
  name: 'Events',
  components: {
    'event-card': Card,
    'detail-view': DetailView
  },
  mixins: [ScrollToMixin, ManipulatingMixin],
  props: {
    itemToSelect: Object,
    loadDate: String,
    snackbarAction: Boolean
  },
  computed: {
    ...mapGetters([
      'events',
      'calendarDate',
      'feedDays',
      'getUser'
    ]),
    
    allEvents () {
      /**
       * flat events for calculate next position after delete
       * and drop duplicates
       */
      let allEvents = [].concat(...this.events.map(o => o.events))
      allEvents = allEvents.filter((item, index, self) =>
        index === self.findIndex((i) => (
          i.id === item.id
        ))
      )
      return allEvents
    }
  },
  watch: {
    calendarDate: {
      immediate: true,
      handler (newValue) {
        if (newValue) {
          this.closeDetailView()
          this.isLoading = true
          this.$store.dispatch('getGrouppedEvents').then(() => {
            this.isLoading = false
            // if passed item from search, skip scroll to current day
            if (this.itemToSelect) return
            this.$nextTick(() => {
              let currentDay = moment(this.calendarDate).format('DM')
              this.startScroll(currentDay)
            })
          })
        }
      },
    },
    itemToSelect: {
      immediate: true,
      handler (item) {
        if (!item) return
        this.handleItemToSelect(item)
      }
    }
  },
  created () {
    EventBus.$on('passEventToSelect', item => {
      this.handleItemToSelect(item)
    })
    this.fetchData()
    this.handleInitialDateLoad()
    this.startFeedSync()
    moment.locale(this.$store.getters.locale)
  },
  destroyed () {
    this.$store.dispatch('setFeedDays')
  },
  methods: {
    async fetchData () {
      this.isLoading = true
      this.$store.dispatch('getGrouppedEvents').then(() => {
        this.isLoading = false
      })
    },
    formatFeedDate (date) {
      let feedDate
      let formattedDate = moment(date).format('YYYY-MM-DD')
      let today = moment().format('YYYY-MM-DD')
      let tomorrow = moment(today).add(1, 'days').format('YYYY-MM-DD')

      if (moment(formattedDate).isSame(today) || moment(formattedDate).isSame(tomorrow)) {
        feedDate = moment(formattedDate).calendar(null, {
          sameDay : `[${this.$vuetify.lang.t('$vuetify.Pages.Events.today')}]`,
          nextDay : `[${this.$vuetify.lang.t('$vuetify.Pages.Events.tomorrow')}]`,
        })
      } else {
        feedDate = moment(date).format('dddd, D MMM')
      }
      return feedDate
    },
    prevPage () {
      this.isLoading = true
      this.$store.dispatch('prependGrouppedEvents').then(() => {
        this.isLoading = false
        document.getElementById('events-scroll').scrollTop = 500
      })
    },
    nextPage () {
      this.isLoading = true
      this.$store.dispatch('appendGrouppedEvents').then(() => {
        this.isLoading = false
      })
    },
    formatScrollId (item) {
      return moment(item).format('DM')
    },
    startScroll (id) {
      let element = `#day-${id}`
      let container = '#events-scroll'
      this.scrollTo(element, container)
    },
    sortByAllDayEnd (items) {
      return [...items].sort((a, b) => {
        return a.full_day - b.full_day
      })
    },
    handleItemToSelect (item) {
      let formattedDate = moment(item.start).format('YYYY-MM-DD')
      this.$store.dispatch('shiftFeedToDate', formattedDate).then(() => {
        this.selectItem(item.id)
        this.$nextTick(() => {
          let itemDay = moment(item.start).format('DM')
          this.startScroll(itemDay)
        })
      })
    },
    selectNewestEvent () {
      this.$store.dispatch('getNewestEvent').then((result) => {
        if (!Object.keys(result).length) return
        this.handleItemToSelect(result)
      })
    },
    handleInitialDateLoad () {
      // if user select calendar date from other route
      if (this.loadDate) {
        this.$store.dispatch('shiftFeedToDate', this.loadDate)
        return
      }
      // if user came from snackbar forward
      else if (this.snackbarAction) {
        this.selectNewestEvent()
      }
      if (this.itemToSelect) return
      // if none of this, scroll to today date
      else {
        this.$store.dispatch('resetCalendarToToday')
        this.$store.dispatch('shiftFeedToDate', this.calendarDate)
      }
    },
    startFeedSync () {
      if (this.getUser.gcal) {
        this.$store.dispatch('googleCalendarStartSync')
      }
    }
  },
}
</script>