<template>
  <v-flex
    class="py-0 px-0"
    lg12
    md12
  >
    <v-layout
      wrap
      d-flex
      class="projects"
    >
      <!-- LEFT WORK AREA -->
      <v-flex
        class="project__left-side-wrapper"
        xl5
        lg5
        md5
        style="box-shadow: inset 0 0 0 1000px rgba(249,249,249,0.5)"
      >
        <v-flex
          id="project-items---scroll"
          class="project__left-side px-4 pt-8"
        >
          <div class="pl-8 d-flex">
            <p class="project__left-side--name-project display-1 mb-0">
              {{ name }}
            </p>
            <v-spacer />
            <v-btn
              icon
              class="gray-darken-2--text"
              @click="showDeleteModal"
            >
              <v-icon>mdi-delete-outline</v-icon>
            </v-btn>
            <v-btn
              icon
              class="gray-darken-2--text"
              @click="showEditModal"
            >
              <v-icon>mdi-folder-edit-outline</v-icon>
            </v-btn>
          </div>
          <transition-group
            name="flip-list"
            tag="div"
          >
            <div
              v-for="item in sortedByIdProjItems"
              :key="item.id"
            >
              <project-item-card
                :item="item"
                :currentItem="currentItem"
                :showDate="true"
                @select="selectItem"
                @done="doneItem"
              /> 
            </div>
          </transition-group>
        </v-flex>

        <!-- QUICK TASK -->
        <quick-task
          :tasks="projectItems"
          @fetch="fetchData"
          @select="selectItem"
        />
      </v-flex>

      <!-- RIGHT WORK AREA -->
      <v-flex
        xl7
        lg7
        md7
        class="project__right-side px-6 py-60"
        :style="rightSideBackgroundStyle"
      >
        <detail-view
          v-if="isDetailViewShow"
          :currentItem="currentItem"
          :items="sortedByIdProjItems"
          @close="closeDetailView"
          @fetch="fetchData"
          @update="updateItem"
          @updateCurrentItem="updateCurrentItem"
          @select="selectItem"
        />
      </v-flex>
    </v-layout>

    <project-modal
      v-if="showProjModal"
      :modal="showProjModal"
      :project="currentProject"
      :parent="currentProject.parent ? currentProject.parent.id : null"
      @fetch="getProjectData"
      @close="closeProjModal"
    />

    <!-- DELETE PROJ DIALOG -->
    <v-dialog
      v-model="showDeleteProjDialog"
      width="460"
    >
      <v-card>
        <v-card-text
          class="px-5 py-6 text-center body-1"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.Project.deleteDialog.message') }}
        </v-card-text>
        <v-card-actions
          class="px-5 pb-4"
        >
          <v-spacer />
          <v-btn
            color="primary"
            rounded
            text
            @click="closeDeleteModal"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.Project.deleteDialog.discardBtn') }}
          </v-btn>
          <v-btn
            color="primary"
            class="px-4"
            rounded
            @click="deleteProject"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.Project.deleteDialog.confirmBtn') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-flex>
</template>

<script>
import Card from '../../components/Card'
import DetailView from '../../components/DetailView'
import QuickTask from '../../components/QuickTask'
import ProjectModal from '../../components/Project/ProjectModal'
import ScrollToMixin from '@/components/mixins/ScrollToMixin.vue'
import ManipulatingMixin from '@/components/mixins/ManipulatingMixin.vue'

import { mapGetters } from 'vuex'
import { EventBus } from '../../main'

export default {
  name: 'Project',
  components: {
    'project-modal': ProjectModal,
    'project-item-card': Card,
    'detail-view': DetailView,
    'quick-task': QuickTask
  },
  mixins: [ScrollToMixin, ManipulatingMixin],
  props: {
    id: String,
    itemToSelect: Object
  },
  data () {
    return {
      name: null,
      background: null,
      currentProject: null,
      showProjModal: false,
      showDeleteProjDialog: false,
      url: process.env.VUE_APP_BASE_URL
    }
  },
  computed: {
    ...mapGetters(['projectItems']),

    rightSideBackgroundStyle () {
      return { 
        'background-image': `url(${this.url}${this.background})`,
        'box-shadow': 'inset 0 0 0 1000px rgba(249,249,249,0.5)',
        'background-size': '60% auto',
        'background-position': 'right 30% top 85%',
      }
    },
    sortedByIdProjItems () {
      return [...this.projectItems]
        .sort((a, b) => {
          return b.id - a.id
        })
        .sort((a, b) => {
          return b.important - a.important
        })
    },
  },
  // watch cause page non destroyed
  watch: {
    id: {
      immediate: true,
      handler (newValue) {
        if (newValue) {
          this.getProjectData(newValue)
        }
      }
    },
    '$route.path' (newValue) {
      if (newValue) {
        this.closeDetailView()
      }
    },
    itemToSelect: {
      immediate: true,
      handler (item) {
        if (!item) return
        this.fetchData().then(() => {
          this.selectItem(item.id)
          this.$nextTick(() => {
            this.startScroll(item.id)
          })
        })
      }
    }
  },
  created () {
    // quick task adding handle
    EventBus.$on('selectNew', () => {
      this.fetchData()
      this.selectNewestTask()
    })
    // founded item from search handle to select 
    EventBus.$on('passItemToSelect', item => {
      this.handleItemToSelect(item)
    })
  },
  destroyed () {
    this.$store.dispatch('deleteCurrentProjItem')
  },
  methods: {
    // prom cause need fetch before handle itemToSelect
    fetchData () {
      return new Promise((resolve) => {
        this.isLoading = true
        this.$store.dispatch('getProjectData', { id: this.id }).then(() => {
          this.isLoading = false
          this.$nextTick(resolve)
        })
      })
    },
    setData () {
      // TODO: parse data method
      this.name = this.currentProject.name
      this.background = this.currentProject.image.file
    },
    getProjectData (id) {
      this.$store.dispatch('getProjectData', {
        id: id
      }).then((result) => {
        this.currentProject = result
        this.setData()
      })
    },
    showEditModal () {
      this.showProjModal = !this.showProjModal
    },
    closeProjModal () {
      this.showProjModal = false
    },
    showDeleteModal () {
      this.showDeleteProjDialog = true
    },
    closeDeleteModal () {
      this.showDeleteProjDialog = false
    },
    deleteProject () {
      this.$store.dispatch('deleteProject', this.id).then(() => {
        this.closeDeleteModal()
        EventBus.$emit('updateProjects')
        this.$router.push('/tasks')
      })
    },
    selectNewestTask () {
      this.$store.dispatch('getNewestTask').then((result) => {
        if (!Object.keys(result).length) return
        this.selectItem(result.id)
      })
    },
    startScroll (id) {
      let element = `#task-${id}`
      let container = '#project-items---scroll'
      this.scrollTo(element, container)
    },
    handleItemToSelect (item) {
      this.selectItem(item.id)
      this.$nextTick(() => {
        this.startScroll(item.id)
      })
    },
  },
}
</script>