<template>
  <v-flex
    class="py-0 px-0"
    lg12
    md12
  >
    <v-layout
      wrap
      d-flex
      class="tasks"
    >
      <!-- LEFT WORK AREA -->
      <v-flex 
        class="tasks__left-side-wrapper"
        xl5
        lg5
        md5
      >
        <v-flex
          id="tasks-scroll"
          class="tasks__left-side px-4 pt-8"
        >
          <div class="pl-8">
            <p class="display-1 mb-0">
              {{ $vuetify.lang.t('$vuetify.Pages.Tasks.title') }}
            </p>
          </div>
          <transition-group
            name="flip-list"
            tag="div"
          >
            <div
              v-for="task in sortedByIdTasks"
              :key="task.id"
            >
              <task-card 
                :item="task"
                :currentItem="currentItem"
                @select="selectItem"
                @done="doneItem"
              /> 
            </div>
          </transition-group>
        </v-flex>

        <!-- QUICK TASK -->
        <quick-task
          :tasks="tasks"
          @fetch="fetchData"
          @select="selectItem"
        />
      </v-flex>

      <!-- RIGHT WORK AREA -->
      <v-flex
        xl7
        lg7
        md7
        class="tasks__right-side px-6 py-60"
      >
        <!-- DETAIL VIEW COMPONENT with task props-->
        <detail-view
          v-if="isDetailViewShow"
          :currentItem="currentItem"
          :items="sortedByIdTasks"
          @close="closeDetailView"
          @fetch="fetchData"
          @update="updateItem"
          @updateCurrentItem="updateCurrentItem"
          @select="selectItem"
        />
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import Card from '../../components/Card'
import DetailView from '../../components/DetailView'
import QuickTask from '../../components/QuickTask'
import ScrollToMixin from '@/components/mixins/ScrollToMixin.vue'
import ManipulatingMixin from '@/components/mixins/ManipulatingMixin.vue'

import { mapGetters } from 'vuex'
import { EventBus } from '../../main'

export default {
  name: 'Tasks',
  components: {
    'quick-task': QuickTask,
    'task-card': Card,
    'detail-view': DetailView,
  },
  mixins: [ScrollToMixin, ManipulatingMixin],
  props: {
    itemToSelect: Object,
    snackbarAction: Boolean
  },
  computed: {
    ...mapGetters([
      'tasks'
    ]),

    sortedByIdTasks () {
      return [...this.tasks]
        .sort((a, b) => {
          return b.id - a.id
        })
        .sort((a, b) => {
          return b.important - a.important
        })
    },
  },
  watch: {
    itemToSelect: {
      immediate: true,
      handler (item) {
        if (!item) return
        this.selectItem(item.id)
        this.$nextTick(() => {
          this.startScroll(item.id)
        })
      }
    }
  },
  created () {
    this.fetchData()
    EventBus.$on('passTaskToSelect', item => {
      this.handleItemToSelect(item)
    })
    EventBus.$on('selectNew', () => {
      this.fetchData()
      this.selectNewestTask()
    })
    if (this.itemToSelect) return
    if (this.snackbarAction) {
      this.selectNewestTask()
    }
  },
  destroyed () {
    this.$store.dispatch('deleteCurrentTask')
  },
  methods: {
    async fetchData () {
      this.isLoading = true
      this.$store.dispatch('getTasks').then(() => {
        this.isLoading = false
      })
    },
    startScroll (id) {
      let element = `#task-${id}`
      let container = '#tasks-scroll'
      this.scrollTo(element, container)
    },
    handleItemToSelect (item) {
      this.selectItem(item.id)
      this.$nextTick(() => {
        this.startScroll(item.id)
      })
    },
    selectNewestTask () {
      this.$store.dispatch('getNewestTask').then((result) => {
        if (!Object.keys(result).length) return
        this.selectItem(result.id)
      })
    }
  }
 }
</script>
