<template>
  <div>
    <default-navbar
      v-if="!this.$store.getters.isAuth"
      :inverted="true"
      :dark="false"
    />
    <div
      class="feedback"
      :class="{
        'd-flex' : $vuetify.breakpoint.mdAndUp,
        'align-center' : $vuetify.breakpoint.mdAndUp,
      }"
    >
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="6"
            lg="5"
            xl="4"
            offset-md="0"
            offset-lg="2"
            order-sm="2"
            order-md="1"
            :class="{
              'px-7' : $vuetify.breakpoint.smAndDown
            }"
          >
            <p 
              class="display-1"
              :class="{
                'text-center' : $vuetify.breakpoint.smAndDown
              }"
            >
              {{ this.$vuetify.lang.t('$vuetify.Feedback.title') }}
            </p>
            <div
              class="feedback__form"
            >
              <v-text-field
                v-model="name"
                class="pt-10"
                :label="this.$vuetify.lang.t('$vuetify.Feedback.name.label')"
                :maxlength="100"
              />
              <v-text-field
                v-model="email"
                class="pt-5"
                :label="this.$vuetify.lang.t('$vuetify.Feedback.email.label')"
                :error-messages="emailErrors"
              />
              <v-textarea
                v-model="message"
                counter="3000"
                :label="this.$vuetify.lang.t('$vuetify.Feedback.message.label')"
                :maxlength="3000"
              />
              <v-btn
                color="primary"
                rounded
                :loading="isLoading"
                :disabled="!isDisabled"
                @click="submit"
              >
                {{ this.$vuetify.lang.t('$vuetify.Feedback.FeedbackBtn') }}
              </v-btn>
            </div>
          </v-col>
          <v-col
            cols="12"
            md="6"
            lg="5"
            xl="5"
            order-sm="1"
            order-md="2"
            class="feedback__img"
          >
            <v-img
              src="@/img/feedback.svg"
              contain
              height="430"
            />
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import NonAuthNavbar from '@/components/NonAuthNavbar.vue'
import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'Feedback',
  components: {
    'default-navbar': NonAuthNavbar
  },
  validations: {
    name: {
      required
    },
    message: {
      required
    },
    email: {
      email
    },
  },
  data () {
    return {
      name: null,
      email: null,
      message: null,
      isLoading: false
    }
  },
  computed: {
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push(this.$vuetify.lang.t('$vuetify.Feedback.email.commonErrorMsg'))
        return errors 
    },
    isDisabled () {
      return this.name && this.message ? true : false
    },
  },
  watch: {
    name: {
      immediate: true,
      handler () {
        if (this.$store.getters.isAuth) {
          this.name = this.$store.getters.getUser.full_name
        }
      }
    },
    email: {
      immediate: true,
      handler () {
        if (this.$store.getters.isAuth) {
          this.email = this.$store.getters.getUser.email
        }
      }
    }
  },
  methods: {
    submit () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.isLoading = true
        this.$store.dispatch('sendFeedback', {
          name: this.name,
          email: this.email,
          message: this.message
        }).then(() => {
          this.showSnackbar(this.$vuetify.lang.t('$vuetify.Pages.Snackbar.Feedback.success'), 'success')
          this.resetForm()
          this.isLoading = false
        })
      }
    },
    showSnackbar (msg, type) {
      this.$store.dispatch('snackbar/show', {
        msg: msg,
        type: type
      })
    },
    resetForm () {
      this.name = null
      this.email = null
      this.message = null
      this.$v.$reset()
    },
  },
}
</script>