<template>
  <div class="home">
    <default-navbar
      :offset="offsetTop"
      :inverted="invertedNavbar"
      :dark="true"
    />
    <div
      id="content"
      class="home-content"
    >
      <v-container
        v-scroll:#content="onScroll"
        fluid
        class="home-title px-0 d-flex flex-column pb-0"
        :class="{
          'pt-170' : $vuetify.breakpoint.mdAndUp,
          'pt-90' : $vuetify.breakpoint.smAndDown
        }"
      >
        <v-container>
          <v-row
            class="align-center full-width ma-0"
          >
            <v-col
              cols="12"
              md="8"
              lg="6"
              xl="5"
              class="main-text mt-5 py-0 px-2"
              offset-md="0"
              offset-lg="2"
              order="2"
              order-sm="2"
              order-md="1"
              :class="{
                'justify-space-around' : $vuetify.breakpoint.mdAndUp
              }"
            >
              <p 
                class="white--text"
                :class="{
                  'display-1' : $vuetify.breakpoint.smAndDown,
                  'display-2' : $vuetify.breakpoint.mdAndUp,
                  'text-center' : $vuetify.breakpoint.smAndDown
                }"
              >
                {{ this.$vuetify.lang.t('$vuetify.Home.title') }}
              </p>
              <p 
                class="white--text"
                :class="{
                  'body-1' : $vuetify.breakpoint.smAndDown,
                  'headline' : $vuetify.breakpoint.mdAndUp,
                  'text-center' : $vuetify.breakpoint.smAndDown
                }"
              >
                {{ this.$vuetify.lang.t('$vuetify.Home.caption') }}
              </p>
              <v-container>
                <v-row
                  class="align-center"
                  :justify="$vuetify.breakpoint.mdAndUp ? 'start' : 'center'"
                >
                  <v-col
                    cols="5"
                    xl="3"
                    lg="5"
                    md="5"
                    align-self="center"
                    :class="{'pl-0' : $vuetify.breakpoint.mdAndUp}"
                  >
                    <a :href="storeBadges.appStore.link">
                      <v-img
                        :src="require(`@/img/home/${storeBadges.appStore.image}`)"
                        width="170"
                      />
                    </a>
                  </v-col>
                  <v-col
                    cols="6"
                    xl="4"
                    lg="5"
                    md="5"
                    align-self="center"
                    :class="{'pl-0' : $vuetify.breakpoint.mdAndUp}"
                  >
                    <a :href="storeBadges.gPlay.link">
                      <v-img
                        :src="require(`@/img/home/${storeBadges.gPlay.image}`)"
                        width="210"
                      />
                    </a>
                  </v-col>
                </v-row>
              </v-container>
            </v-col>
            <v-col
              cols="7"
              md="3"
              lg="2"
              xl="4"
              offset="3"
              class="main-device pa-0"
              offset-md="1"
              order="1"
              order-sm="1"
              order-md="2"
            >
              <v-img
                src="@/img/home/device.png"
                contain
                height="470"
              />
            </v-col>
          </v-row>
        </v-container>
        
        <v-row
          class="wave align-self-end"
        >
          <v-img
            src="@/img/home/wave.svg"
          />
        </v-row>
      </v-container>
      <v-container
        class="home-start"
      >
        <v-row>
          <v-col
            cols="12"
            md="4"
            order-md="2"
            offset-lg="1"
          >
            <v-img
              src="@/img/home/start.png"
              contain
              height="470"
            />
          </v-col>
          <v-col
            cols="12"
            md="8"
            lg="5"
            offset-md="0"
            offset-lg="2"
            order-md="1"
            class="d-flex flex-column"
            :class="{
              'justify-center' : $vuetify.breakpoint.mdAndUp
            }"
          >
            <p
              :class="{
                'title' : $vuetify.breakpoint.smAndDown,
                'display-2' : $vuetify.breakpoint.mdAndUp,
                'text-center' : $vuetify.breakpoint.smAndDown
              }"
            >
              {{ this.$vuetify.lang.t('$vuetify.Home.startBlock.title') }}
            </p>
            <p
              :class="{
                'body-1' : $vuetify.breakpoint.smAndDown,
                'headline' : $vuetify.breakpoint.mdAndUp,
                'text-center' : $vuetify.breakpoint.smAndDown
              }"
            >
              {{ this.$vuetify.lang.t('$vuetify.Home.startBlock.caption') }}
            </p>
          </v-col>
        </v-row>
      </v-container>
      <v-container
        class="home-plan"
      >
        <v-row>
          <v-col
            cols="12"
            md="4"
            order-md="1"
            offset-lg="1"
          >
            <v-img
              src="@/img/home/plan.png"
              contain
              height="470"
            />
          </v-col>
          <v-col
            cols="12"
            md="7"
            lg="5"
            offset-md="1"
            order-md="2"
            class="d-flex flex-column"
            :class="{
              'justify-center' : $vuetify.breakpoint.mdAndUp
            }"
          >
            <p
              :class="{
                'title' : $vuetify.breakpoint.smAndDown,
                'display-2' : $vuetify.breakpoint.mdAndUp,
                'text-center' : $vuetify.breakpoint.smAndDown
              }"
            >
              {{ this.$vuetify.lang.t('$vuetify.Home.planBlock.title') }}
            </p>
            <p
              :class="{
                'body-1' : $vuetify.breakpoint.smAndDown,
                'headline' : $vuetify.breakpoint.mdAndUp,
                'text-center' : $vuetify.breakpoint.smAndDown
              }"
            >
              {{ this.$vuetify.lang.t('$vuetify.Home.planBlock.caption') }}
            </p>
          </v-col>
        </v-row>
      </v-container>
      <v-container
        class="home-testimonials"
      >
        <v-row>
          <v-col
            cols="12"
          >
            <p
              class="title text-center"
            >
              {{ this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.title') }}
            </p>
          </v-col>
          <v-col
            v-if="$vuetify.breakpoint.mdAndUp"
            cols="10"
            lg="8"
            offset="1"
            offset-lg="2"
            class="home-testimonials--bg"
          >
            <v-sheet
              height="180"
              class="home-testimonials--bg"
            />
          </v-col>
        </v-row>
        <v-container
          :class="{ 'home-testimonials__card-list' : $vuetify.breakpoint.mdAndUp }"
        >
          <swiper
            class="swiper"
            :options="swiperOption"
          >
            <swiper-slide
              v-for="(item, index) in testimonials"
              :key="index"
            >
              <div
                class="pt-10"
              >
                <v-card
                  min-height="210"
                  max-width="400"
                  class="home-testimonials__card d-flex align-center"
                >
                  <v-container
                    class="home-testimonials__card--content px-5 py-2"
                  >
                    <v-row
                      class="d-flex align-center justify-space-between fit-parent"
                    >
                      <v-avatar
                        class="avatar"
                        size="70"
                        color="white"
                      >
                        <v-img 
                          :src="require(`@/img/home/${item.avatar}`)"
                        />
                      </v-avatar>
                      <v-rating
                        v-model="item.rate"
                        readonly
                        dense
                        size="10"
                      />
                    </v-row>
                    <v-row
                      class="fit-parent mt-n10"
                    >
                      <p
                        class="body-1 primary-darken-2--text"
                      >
                        {{ item.author }}
                      </p>
                      <p
                        class="body-2"
                      >
                        {{ item.msg }}
                      </p>
                    </v-row>
                  </v-container>
                </v-card>
              </div>
            </swiper-slide>
            <div
              slot="pagination"
              class="swiper-pagination"
            />
          </swiper>
          <div
            class="text-center pt-3"
          >
            <div class="body-1">
              <span>
                {{ this.$vuetify.lang.t('$vuetify.Home.feedback.text') }}
              </span>
              <router-link
                to="/feedback"
                style="text-decoration: none"
              >
                {{ this.$vuetify.lang.t('$vuetify.Home.feedback.link') }}
              </router-link>
            </div>
            <div class="mt-1">
              <a
                href="/docs/policy.pdf"
                style="text-decoration: none"
                class="gray-darken-2--text"
              >
                {{ this.$vuetify.lang.t('$vuetify.Home.policy') }}
              </a>
            </div>
          </div>
        </v-container>
      </v-container>
    </div>
  </div>
</template>

<script>
import NonAuthNavbar from '@/components/NonAuthNavbar.vue'
import { Swiper, SwiperSlide, directive } from 'vue-awesome-swiper'
import 'swiper/css/swiper.css'

export default {
  name: 'Home',
  components: {
    Swiper,
    SwiperSlide,
    'default-navbar': NonAuthNavbar
  },
  directives: {
    swiper: directive
  },
  data () {
    return {
      offsetTop: null,
      invertedNavbar: false,
      testimonials: [
        {
          avatar: 'avatar1.png',
          author: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsUsers[0]'),
          msg: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsMsg[0]'),
          rate: 5
        },
        {
          avatar: 'avatar2.png',
          author: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsUsers[1]'),
          msg: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsMsg[1]'),
          rate: 5
        },
        {
          avatar: 'avatar3.png',
          author: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsUsers[2]'),
          msg: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsMsg[2]'),
          rate: 5
        },
        {
          avatar: 'avatar4.png',
          author: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsUsers[3]'),
          msg: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsMsg[3]'),
          rate: 5
        },
        {
          avatar: 'avatar5.png',
          author: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsUsers[4]'),
          msg: this.$vuetify.lang.t('$vuetify.Home.testimonialsBlock.testimonialsMsg[4]'),
          rate: 5
        },
      ],
      swiperOption: {
        slidesPerView: 3,
        spaceBetween: 50,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        },
        breakpoints: {
          1904: {
            slidesPerView: 4,
            spaceBetween: 40
          },
          1024: {
            slidesPerView: 3,
            spaceBetween: 40
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 30
          },
          640: {
            slidesPerView: 2,
            spaceBetween: 20
          },
          320: {
            slidesPerView: 1,
            spaceBetween: 10
          }
        }
      }
    }
  },
  computed: {
    /**
     * returns store badge depends on locale
     */
    storeBadges () {
      let storeBadges = {
        appStore: {
          image: this.$store.getters.locale === 'ru' ? 'store_badges/app-store-badge_RU.svg' : 'store_badges/app-store-badge_EN.svg',
          link: 'https://apps.apple.com/us/app/id1513911011'
        },
        gPlay: {
          image: this.$store.getters.locale === 'ru' ? 'store_badges/google-play-badge_RU.png' : 'store_badges/google-play-badge_EN.png',
          link: 'https://play.google.com/store/apps/details?id=com.progressTeam.Listick'
        } 
      }
      return storeBadges
    }
  },
  watch: {
    offsetTop (newValue) {
      this.invertedNavbar = (newValue >= 500) ? true : false
    }
  },
  methods: {
    onScroll (e) {
      this.offsetTop = e.target.scrollTop
    }
  },
}
</script>