<template>
  <div class="login-page">
    <v-container
      fill-height
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-card
          class="white"
          min-width="480"
          align="center"
        >
          <v-img
            height="160"
            src="../img/logo.png"
            aspect-ratio="1.7"
            contain
            class="logo"
          />
          <v-card-text class="px-12-custom">
            <v-form
              class="login-form"
              @keyup.enter.native="login"
            >
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                :maxlength="100"
                :label="$vuetify.lang.t('$vuetify.Login.LoginForm.email.label')"
                name="email"
                placeholder=""
                outlined
                :hide-details="'auto'"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              />
              <v-text-field
                v-model="password"
                :error-messages="passErrors"
                :label="$vuetify.lang.t('$vuetify.Login.LoginForm.password.label')"
                name="password"
                placeholder=""
                outlined
                class="mt-4"
                :hide-details="'auto'"
                :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                :type="value ? 'password' : 'text'"
                @click:append="() => (value = !value)"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              />
            </v-form>
          </v-card-text>
          <v-card-actions class="d-flex flex-column mb-10">
            <v-btn
              color="primary"
              height="50"
              width="360"
              class="mx-auto my-4 login-form__btn"
              :disabled="$v.$anyError"
              :loading="isLoading"
              @click="login"
            >
              {{ $vuetify.lang.t('$vuetify.Login.LoginBtn') }}
            </v-btn>
            <p>{{ $vuetify.lang.t('$vuetify.Login.LoginForm.divider') }}</p>
            <google-auth-button
              :text="$vuetify.lang.t('$vuetify.Login.LoginForm.googleBtnMessage')"
            />
            <apple-auth-button
              :text="$vuetify.lang.t('$vuetify.Login.LoginForm.appleBtnMessage')"
            />
            <v-divider class="login-form__divider" />
            <div
              class="login-form__links mt-2 mb-12 d-flex justify-space-around align-center"
            >
              <router-link to="/">
                {{ $vuetify.lang.t('$vuetify.Login.LoginForm.passwordMessage') }}
              </router-link>
              <div id="circle" />
              <router-link to="/register">
                {{ $vuetify.lang.t('$vuetify.Login.LoginForm.accountMessage') }}
              </router-link>
            </div>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import GoogleAuthButton from '@/components/GoogleAuthButton.vue'
import AppleAuthButton from '@/components/AppleAuthButton.vue'
import { validationMixin } from 'vuelidate'
import { helpers } from 'vuelidate/lib/validators'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
const noSpaces = helpers.regex('noSpaces', /^\S*$/)
const noCyrUsernameEmail = helpers.regex('noCyrUsernameEmail', /^(.+?[a-zA-Z0-9]@+)/)
const email = helpers.regex(
  'isEmailValidator',
  /(^$|^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([а-яА-Яa-zA-Z\-0-9]+\.)+[а-яА-Яa-zA-Z]{2,}))$)/
)

export default {
  name: 'Login',
  components: {
    'google-auth-button': GoogleAuthButton,
    'apple-auth-button': AppleAuthButton
  },
  mixins: [validationMixin],
  data () {
    return {
      email: null,
      password: null,
      value: String,
      isLoading: false,
      error: null
    }
  },
  validations: {
    email: {
      required,
      email,
      noCyrUsernameEmail
    },
    password: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(40),
      noSpaces
    }
  },
  computed: {
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.email.requiredErrorMsg'))
        !this.$v.email.email && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.email.commonErrorMsg'))
        !this.$v.email.noCyrUsernameEmail && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.email.commonErrorMsg'))
        return errors 
    },
    passErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.password.requiredErrorMsg'))
        !this.$v.password.minLength && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.password.minLengthErrorMsg'))
        !this.$v.password.maxLength && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.password.maxLengthErrorMsg'))
        !this.$v.password.noSpaces && errors.push(this.$vuetify.lang.t('$vuetify.Login.LoginForm.password.noSpacesErrorMsg'))
        return errors 
    },
  },
  methods: {
    login () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.isLoading = true
        this.$store.dispatch('login', {
            email: this.email.toLowerCase(),
            password: this.password
          })
          .then(() => this.$router.push('/tasks'))
          .catch(error => {
            this.error = error
            this.isLoading = false
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    }
  }
}
</script>
