<template>
  <v-container
    class="text-center"
    fill-height
    style="height: calc(100vh - 58px);"
  >
    <v-row align="center">
      <v-col>
        <lottie
          :options="defaultOptions"
          :height="400"
          :width="745"
          @animCreated="handleAnimation"
        />
        <p>
          К сожалению, эта страница не найдена, но есть другие, более интересные ;)
        </p>
        <v-btn
          color="primary"
          text
          @click="$router.back()"
        >
          Назад
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Lottie from 'vue-lottie/src/lottie.vue'
import * as animationData from '../img/404.json'

export default {
  name: 'PageNotFound',
  components: {
    'lottie': Lottie
  },
  data () {
    return {
      defaultOptions: {
        animationData: animationData.default,
        loop: false
      },
      animationSpeed: 1
    }
  },
  methods: {
   handleAnimation: function (anim) {
      this.anim = anim
    }
  },
}
</script>