<template>
  <div class="register-page">
    <v-container
      fill-height
      fluid
    >
      <v-row
        align="center"
        justify="center"
      >
        <v-card
          class="white"
          min-width="480"
          align="center"
        >
          <v-img
            height="160"
            src="../img/logo.png"
            aspect-ratio="1.7"
            contain
            class="logo"
          />
          <v-card-text class="px-12-custom">
            <v-form
              @keyup.enter.native="register"
            >
              <v-text-field
                v-model="email"
                :error-messages="emailErrors"
                :maxlength="100"
                :label="$vuetify.lang.t('$vuetify.Register.RegisterForm.email.label')"
                name="email"
                placeholder=""
                outlined
                :hide-details="'auto'"
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              />
              <v-text-field
                v-model="name"
                :error-messages="nameErrors"
                :maxlength="100"
                :label="$vuetify.lang.t('$vuetify.Register.RegisterForm.name.label')"
                name="name"
                type="text"
                placeholder=""
                outlined
                :hide-details="'auto'"
                class="mt-4"
                @input="$v.name.$touch()"
                @blur="$v.name.$touch()"
              />
              <v-text-field
                v-model="password"
                :label="$vuetify.lang.t('$vuetify.Register.RegisterForm.password.label')"
                name="password"
                placeholder=""
                outlined
                required
                :hide-details="'auto'"
                class="mt-4 mb-7"
                :append-icon="value ? 'mdi-eye' : 'mdi-eye-off'"
                :type="value ? 'password' : 'text'"
                :error-messages="passErrors"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
                @click:append="() => (value = !value)"
              />
            </v-form>
          </v-card-text>
          <v-card-actions class="d-flex flex-column">
            <v-btn
              color="primary"
              height="50"
              width="360"
              class="mx-auto my-4 login-form__btn"
              :loading="isLoading"
              :disabled="$v.$anyError"
              @click="register"
            >
              {{ $vuetify.lang.t('$vuetify.Register.RegisterBtn') }}
            </v-btn>
            <p>{{ $vuetify.lang.t('$vuetify.Register.RegisterForm.divider') }}</p>
            <google-auth-button
              :text="$vuetify.lang.t('$vuetify.Register.RegisterForm.googleBtnMessage')"
            />
            <apple-auth-button
              :text="$vuetify.lang.t('$vuetify.Register.RegisterForm.appleBtnMessage')"
            />
            <v-divider class="login-form__divider" />
            <div
              class="login-form__links mt-2 mb-12 d-flex justify-space-around align-center"
            >
              <router-link to="/login">
                {{ $vuetify.lang.t('$vuetify.Register.RegisterForm.accountMessage') }}
              </router-link>
            </div>
          </v-card-actions>
        </v-card>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import GoogleAuthButton from '@/components/GoogleAuthButton.vue'
import AppleAuthButton from '@/components/AppleAuthButton.vue'
import { validationMixin } from 'vuelidate'
import { helpers } from 'vuelidate/lib/validators'
import { required, minLength, maxLength } from 'vuelidate/lib/validators'
const noSpaces = helpers.regex('noSpaces', /^\S*$/)
const noCyrUsernameEmail = helpers.regex('noCyrUsernameEmail', /^(.+?[a-zA-Z0-9]@+)/)
const email = helpers.regex(
  'isEmailValidator',
  /(^$|^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([а-яА-Яa-zA-Z\-0-9]+\.)+[а-яА-Яa-zA-Z]{2,}))$)/
)

export default {
  name: 'Register',
  components: {
    'google-auth-button': GoogleAuthButton,
    'apple-auth-button': AppleAuthButton
  },
  mixins: [validationMixin],
  data () {
    return {
      email: null,
      password: null,
      name: null,
      value: String,
      isLoading: false,
      error: null
    }
  },
  validations: {
    email: {
      required,
      email,
      noCyrUsernameEmail
    },
    name: {
      required
    },
    password: {
      required,
      minLength: minLength(8),
      maxLength: maxLength(40),
      noSpaces
    },
  },
  computed: {
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
        !this.$v.email.required && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.email.requiredErrorMsg'))
        !this.$v.email.email && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.email.commonErrorMsg'))
        !this.$v.email.noCyrUsernameEmail && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.email.commonErrorMsg'))
        return errors 
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.name.requiredErrorMsg'))
        return errors 
    },
    passErrors () {
      const errors = []
      if (!this.$v.password.$dirty) return errors
        !this.$v.password.required && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.password.requiredErrorMsg'))
        !this.$v.password.minLength && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.password.minLengthErrorMsg'))
        !this.$v.password.maxLength && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.password.maxLengthErrorMsg'))
        !this.$v.password.noSpaces && errors.push(this.$vuetify.lang.t('$vuetify.Register.RegisterForm.password.noSpacesErrorMsg'))
        return errors 
    },
  },
  methods: {
    register () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.isLoading = true
        this.$store.dispatch('register', {
          fullName: this.name,
          email: this.email.toLowerCase(),
          password: this.password
        })
        .then(() => {
          this.$store.dispatch('login', {
            email: this.email.toLowerCase(),
            password: this.password,
            register: true
          })
          .then(() => this.$router.push('/tasks'))
        })
        .finally(() => {
          this.isLoading = false
        })
      }
    }
  }
}
</script>
