<template>
  <div class="add-dialog">
    <v-dialog
      v-model="dialog"
      persistent
      min-width="400"
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline pb-0">
          <v-textarea
            id="add-dialog__input"
            v-model="name"
            solo
            autofocus
            flat
            rows="2"
            auto-grow
            row-height="30"
            class="headline"
            :hide-details="'auto'"
            :placeholder="isEventTypeDialog ? $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.name.eventPlaceholder') : $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.name.taskPlaceholder')"
            :error-messages="nameErrors"
            :maxlength="200"
            @keydown.enter.prevent=""
            @keydown.enter="add"
          />
        </v-card-title>

        <v-card-text class="py-0 px-8">
          <!-- TIME START SECTION -->
          <v-row
            v-if="isEventTypeDialog"
            class="task-start align-center"
          >
            <v-col
              cols="4"
            >
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.start.label') }}
              </p>
            </v-col>
            <v-col
              cols="4"
              class="px-0 mr-2"
            >
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-start__input-date"
                    :value="formattedDate.startDate"
                    class="task-start__input-date"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.start.datePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="startDate"
                  :locale="$store.getters.locale"
                  :first-day-of-week="1"
                  no-title
                />
              </v-menu>
            </v-col>
            <v-col
              cols="3"
              class="px-0 ml-2"
            >
              <v-menu
                ref="menuStartTime"
                v-model="menuStartTime"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="startTime"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-start__input-time"
                    v-model="startTime"
                    class="task-start__input-time"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.start.timePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    :disabled="allDayEvent"
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-time-picker
                  v-if="menuStartTime"
                  v-model="startTime"
                  full-width
                  :format="$store.getters.locale === 'ru' ? '24hr' : 'ampm'"
                  :ampm-in-title="$store.getters.locale === 'ru' ? false : true"
                  @click:minute="$refs.menuStartTime.save(startTime)"
                  @change="checkNextDay"
                />
              </v-menu>
            </v-col>
          </v-row>


          <!-- TIME END SECTION -->
          <v-row
            v-if="isEventTypeDialog"
            class="task-end align-center"
          >
            <v-col
              cols="4"
            >
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.end.label') }}
              </p>
            </v-col>
            <v-col
              cols="4"
              class="px-0 mr-2"
            >
              <v-menu
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-end__input-date"
                    :value="formattedDate.endDate"
                    class="task-end__input-date"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.end.datePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-date-picker
                  v-model="endDate"
                  :min="startDate"
                  no-title
                  :locale="$store.getters.locale"
                  :first-day-of-week="1"
                />
              </v-menu>
            </v-col>
            <v-col
              cols="3"
              class="px-0 ml-2"
            >
              <v-menu
                ref="menuEndTime"
                v-model="menuEndTime"
                :close-on-content-click="false"
                :nudge-right="40"
                :return-value.sync="endTime"
                transition="scale-transition"
                offset-y
                max-width="290px"
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    id="task-end__input-time"
                    v-model="endTime"
                    class="task-end__input-time"
                    :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.end.timePlaceholder')"
                    persistent-hint
                    filled
                    readonly
                    background-color="primary-lighten-3"
                    rounded
                    dense
                    :disabled="allDayEvent"
                    hide-details
                    v-on="on"
                  />
                </template>
                <v-time-picker
                  v-if="menuEndTime"
                  v-model="endTime"
                  full-width
                  :format="$store.getters.locale === 'ru' ? '24hr' : 'ampm'"
                  :ampm-in-title="$store.getters.locale === 'ru' ? false : true"
                  :min="minEventTime"
                  @click:minute="$refs.menuEndTime.save(endTime)"
                />
              </v-menu>
            </v-col>
          </v-row>

          <!-- ALL DAY SWITCH -->
          <v-row
            v-if="isEventTypeDialog"
            class="align-center pt-2"
          >
            <v-col
              cols="4"
            >
              <p class="subtitle-2 mt-0 mb-0">
                {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.allDaySwitch') }}
              </p>
            </v-col>
            <v-col
              cols="8"
            >
              <v-switch
                v-model="allDayEvent"
                class="mt-0"
                inset
                dense
                hide-details
              />
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-actions
          class="pa-4"
        >
          <v-spacer />
          <!-- NOTE: Reset data in parent component = close dialog -->
          <v-btn
            color="primary"
            rounded
            text
            class="add-task-dialog__discard-btn"
            @click="close"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.discardBtn') }}
          </v-btn>
          <v-btn
            color="primary"
            rounded
            class="add-task-dialog__save-btn"
            @click="add"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.confirmBtn') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import SetEventTimeMixin from '@/components/mixins/SetEventTimeMixin.vue'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'
import moment from 'moment'
import 'moment/locale/ru'
import { mapGetters } from 'vuex'

export default {
  name: 'AddDialog',
  mixins: [validationMixin, SetEventTimeMixin],
  props: {
    dialog: Boolean,
    type: String
  },
  validations: {
    name: {
      required
    },
  },
  data () {
    return {
      name: null,
      currentRoute: null,

      // event
      startDate: null,
      startTime: null,
      endDate: null,
      endTime: null,
      
      // menus state
      menuStartTime: false,
      menuEndTime: false,
    }
  },
  computed: {
    ...mapGetters(['calendarDate']),

    formattedDate () {
      let formattedDate = {
        startDate: this.startDate ? moment(this.startDate).format('L') : '',
        endDate: this.endDate ? moment(this.endDate).format('L') : '',
      }
      return formattedDate
    },
    /**
     * Sets min range for time end of event, if event continues more than
     * one day
     **/
    minEventTime () {
      let minEventTime
      if (this.startDate != this.endDate) {
        minEventTime = null
      } else {
        minEventTime = this.startTime
      }
      return minEventTime
    },
    /**
     * validation Errors msg
     */
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
        !this.$v.name.required && errors.push(this.$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.addDialog.name.requiredErrorMsg'))
        return errors 
    },
    isEventTypeDialog () {
      return this.type === 'event' ? true : false
    }
  },
  watch: {
    '$route': {
      immediate: true,
      deep: true,
      handler () {
        this.startDate = this.calendarDate
        this.endDate = this.calendarDate
        this.startTime = moment().add(1, 'hours').format('LT')
        this.endTime = moment().add(2, 'hours').format('LT')
      }
    },
  },
  created () {
    this.checkRoute()
  },
  destroyed () {
    this.checkRoute()
  },
  methods: {
    fetchTasks () {
      this.$store.dispatch('getTasks')
    },
    fetchEvents () {
      this.$store.dispatch('getGrouppedEvents')
    },
    fetchProjectItems () {
      this.$store.dispatch('getProjectData', { id: this.$route.params.id })
    },
    async fetchData () {
      switch (this.currentRoute) {
        case 'Events':
          this.fetchEvents()
          break
        case 'Tasks':
          this.fetchTasks()
          break
        case 'Project':
          this.fetchProjectItems()
          break
      }
    },
    add () {
      this.$v.$touch()
      if(!this.$v.$invalid) {
        let addActionName
        let body
        switch (this.type) {
          case 'event':
            addActionName = 'addEvent'
            body =  { 
              name: this.name,
              start: this.formattedEvent.start,
              end: this.formattedEvent.end,
              full_day: this.allDayEvent,
              project: this.$route.params.id
            }
            break
          case 'task':
            addActionName = 'addTask'
            body = { 
              name: this.name,
              project: this.$route.params.id
            }
            break
        }
        this.$store.dispatch(addActionName, body).then(() => {
          this.fetchData()
          this.close()
        })
      }
    },
    checkRoute () {
      this.currentRoute = this.$router.currentRoute.name
    },
    resetForm () {
      this.name = null
      this.startDate = null
      this.startTime = null
      this.endDate = null
      this.endTime = null
    },
    close () {
      this.$emit('reset')
      this.$v.$reset()
      this.resetForm()
    },
  },
}
</script>
