<template>
  <v-btn
    color="black"
    height="50"
    width="360"
    class="mx-auto my-4 login-form__btn"
    outlined
    :loading="isLoading"
    @click="signIn"
  >
    <v-icon
      left
    >
      mdi-apple
    </v-icon>
    {{ text }}
  </v-btn>
</template>

<script>
export default {
  name: 'AppleAuthButton',
  props: {
    text: String
  },
  data () {
    return {
      state: null,
      clientId: 'com.gmail.progressteamprogress',
      scope: 'email name',
      redirectURI: 'https://listick.io:537/api/apple',
      isLoading: false,
      error: null
    }
  },
  mounted () {
    window.AppleID.auth.init({
      clientId: this.clientId,
      scope: this.scope,
      redirectURI: this.redirectURI,
      state: this.state,
      usePopup: true
    })
  },
  methods: {
    async signIn () {
      const data = await window.AppleID.auth.signIn()
      await this.$store.dispatch('appleSignIn', data.authorization.code).then(() => {
        this.$router.push('/tasks')
      }).catch(() => {
        this.isLoading = false
      }).finally(() => {
        this.isLoading = false
      })
    }
  },
}
</script>