<template>
  <div>
    <v-card
      :id="!item.start && !item.end ? `task-${item.id}` : `event-${item.id}`"
      v-ripple="{ class: 'primary--text' }"
      class="mx-auto card d-flex align-center my-4"
      outlined
      tile
      max-width="430"
      min-height="80"
      :class="{
        'card--important': item.important,
        'card--done': item.done,
        'card--active': currentItem && item.id == currentItem.id
      }"
      @click="select(item)"
    >
      <div class="card-body d-flex">
        <v-col
          cols="2"
          class="card__checkbox pa-0"
        >
          <v-checkbox
            v-model="item.done"
            hide-details
            color="gray-lighten-1"
            @change="done(item)"
            @click.native.stop=""
          />
        </v-col>

        <v-col
          cols="8"
          class="pa-0 ma-0 d-flex flex-column align-start"
        >
          <v-row
            v-if="item.project"
          >
            <p class="overline ma-0 pa-0 card-project">
              {{ item.project.name }}
            </p>
          </v-row>
          <v-row>
            <p class="subtitle-1 ma-0 pa-0 card-name">
              {{ item.name }}
              {{ item.service ? formatName (item.service) : '' }}
            </p>
          </v-row>
          <!-- display only for event -->
          <v-row
            v-if="item.start && item.end"
          >
            <div class="card-time body-1 d-flex">
              <!-- hide if Event page, cause format return empty str -->
              <v-icon
                v-if="!item.full_day"
                small
                class="mr-2"
              >
                mdi-clock-outline
              </v-icon>
              {{ formatDateTime(item) }}
            </div>
          </v-row>
        </v-col>
      </div>
    </v-card>
  </div>
</template>

<script>
import moment from 'moment'
import 'moment/locale/ru'

export default {
  name: 'Card',
  props: {
    item: Object,
    currentItem: Object,
    // showDate (if full_day) only on Project page
    showDate: Boolean
  },
  methods: {
    select (item) {
      this.$emit('select', item.id)
    },
    done (item) {
      this.$emit('done', item)
    },
    formatName (item) {
      let name = `(${item.replace('-', this.$vuetify.lang.t('$vuetify.dataIterator.reccurence'))})`
      return name
    },
    /**
     * show date + time_start, time_end if Project page
     * show time if Event page
     */
    formatDateTime (item) {
      let date = moment(item.start).format('L')
      let start = moment(item.start).format('LT')
      let end = moment(item.end).format('LT')
      let formattedDateTime
      switch (this.showDate) {
        case true:
          formattedDateTime = item.full_day ? `${date}` : `${date} ${start} - ${end}`
          break
        case false:
          formattedDateTime = item.full_day ? null : `${start} - ${end}`
          break
      }
      return formattedDateTime
    },
  },
}
</script>
