<template>
  <div class="detail-view">
    <v-card
      class="mx-auto detail-card pa-6"
      :class="{ 
        'detail-card--done': currentItem.done,
        'detail-card--important': currentItem.important 
      }"
      outlined
      min-width="400"
      max-width="700"
      min-height="400"
      max-height="800"
      @dragover.prevent="setDropzoneActive"
      @dragleave.prevent="unsetDropzoneActive"
      @drop.stop.prevent="handleDropFiles"
    >
      <div class="detail-card__head d-flex justify-space-between align-start">
        <v-textarea
          id="name--textarea"
          v-model="name"
          solo
          flat
          rows="2"
          auto-grow
          row-height="30"
          :hide-details="'auto'"
          class="detail-card__head--textarea display-1 ma-0 pl-7 mb-5"
          :maxlength="200"
          :error-messages="nameErrors"
          @blur="updateItem('name', name)"
          @keydown.enter.prevent=""
        >
          {{ currentItem.name }}
        </v-textarea>
        <v-icon
          color="grey"
          class="mt-4"
          @click="close"
        >
          mdi-close
        </v-icon>
      </div>

      <div
        class="detail-card__proj pb-6 pl-8"
      >
        <div
          id="proj-input"
          class="v-input__control"
        >
          <div class="v-input__slot">
            <div
              class="v-input__prepend-inner"
            >
              <i
                aria-hidden="true"
                class="v-icon notranslate mdi mdi-folder-outline theme--light"
                style="font-size: 16px;"
              />
            </div>
            <div
              class="v-text-field__slot"
              @click="showModal('proj')"
            >
              <input
                id="proj-input__input"
                v-model="project"
                v-autowidth="{ maxWidth: '415px', minWidth: '20px', comfortZone: 0 }"
                type="text"
                :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.projectPlaceholder')"
                readonly="readonly"
              >
            </div>
            <div
              v-if="currentItem.project"
              class="v-input__append-inner"
              @click="clearProject"
            >
              <hr
                role="separator"
                aria-orientation="vertical"
                class="mx-2 v-divider v-divider--vertical theme--light"
              >
              <button
                type="button"
                class="v-icon notranslate v-icon--link mdi mdi-close theme--light gray--text"
                style="font-size: 16px;"
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="detail-card__time pl-8"
      >
        <div
          id="time-input"
          class="v-input__control"
        >
          <div class="v-input__slot">
            <div
              class="v-input__prepend-inner"
            >
              <i
                aria-hidden="true"
                class="v-icon notranslate mdi mdi-clock-outline primary--text theme--light"
                style="font-size: 16px;"
              />
            </div>
            <div
              class="v-text-field__slot"
              @click="showModal('time')"
            >
              <input
                id="time-input__input"
                v-autowidth="{ maxWidth: '450px', minWidth: '20px', comfortZone: 0 }"
                :value="currentItem.start && currentItem.end ? formattedEventDate : ''"
                type="text"
                :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.timePlaceholder')"
                readonly="readonly"
              >
            </div>
            <div
              v-if="currentItem.start && currentItem.end"
              class="v-input__append-inner"
              @click="clearTime"
            >
              <hr
                role="separator"
                aria-orientation="vertical"
                class="mx-2 v-divider v-divider--vertical theme--light"
              >
              <button
                type="button"
                class="v-icon notranslate v-icon--link mdi mdi-close theme--light primary--text"
                style="font-size: 16px;"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="detail-card__description pl-8 pr-8 pt-6">
        <p
          class="caption mb-0 gray-darken-1--text"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.description.title') }}
        </p>
        <v-textarea
          id="description--input"
          v-model="description"
          :placeholder="$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.description.placeholder')"
          auto-grow
          solo
          flat
          rows="2"
          row-height="25"
          class="detail-card__description body-2 py-5"
          :maxlength="3000"
          hide-details
          @blur="updateItem('description', description)"
        />
      </div>
      <div class="detail-card__priority d-flex pl-10">
        <v-btn
          outlined
          rounded
          small
          class="px-4 py-2 overline"
          :color="currentItem.important ? 'error-darken-1' : 'gray-lighten-1'"
          @click="changeItemImportant"
        >
          <v-icon
            left
            small
            :color="currentItem.important ? 'error-darken-1' : 'gray'"
          >
            {{ currentItem.important ? 'mdi-flag' : 'mdi-flag-outline' }}
          </v-icon>
          <p class="overline ma-0 gray-darken-1--text">
            {{ currentItem.important ? $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.priority.onText') : $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.priority.offText') }}
          </p>
        </v-btn>
      </div>

      <div class="detail-card__files mt-8 pr-9 pl-10">
        <p
          class="caption mb-2 gray-darken-1--text"
        >
          Вложения
        </p>
        <template
          v-if="fileList.length"
        >
          <div
            v-for="(file, index) in fileList"
            :key="index"
          >
            <v-list-item>
              <v-list-item-avatar
                v-if="file.image"
                tile
                @mouseover="selectIndex(index)"
                @mouseleave="itemIndex = null"
              >
                <v-img
                  :src="`${url}/${file.file}`"
                />
                <v-fade-transition>
                  <v-overlay
                    v-if="itemIndex === index"
                    absolute
                  >
                    <v-icon
                      class="download-icon"
                      @click="downloadFile(file.file)"
                    >
                      mdi-download-outline
                    </v-icon>
                  </v-overlay>
                </v-fade-transition>
              </v-list-item-avatar>
              <v-list-item-avatar
                v-else
                color="gray-lighten-2"
                tile
                @mouseover="selectIndex(index)"
                @mouseleave="itemIndex = null"
              >
                <v-icon
                  color="black"
                >
                  mdi-paperclip
                </v-icon>
                <v-fade-transition>
                  <v-overlay
                    v-if="itemIndex === index"
                    absolute
                  >
                    <v-icon
                      class="download-icon"
                      @click="downloadFile(file.file)"
                    >
                      mdi-download-outline
                    </v-icon>
                  </v-overlay>
                </v-fade-transition>
              </v-list-item-avatar>
              <v-list-item-content
                class="d-flex"
              >
                <v-list-item-title 
                  class="overline"
                >
                  {{ file.name }}
                </v-list-item-title>
              </v-list-item-content>
              <v-icon
                small
                @click="removeFile(file.id)"
              >
                mdi-close
              </v-icon>
            </v-list-item>
          </div>
        </template>
        
        <div
          v-if="isUploading"
          style="pointer-events: none"
        >
          <v-progress-linear
            v-model="uploadPercentage"
            color="primary"
            rounded
            height="8"
          />
          <p class="overline text-center">
            <i18n
              path="$vuetify.Pages.DetailView.DetailViewCard.files.uploadingMessage"
            >
              <template v-slot:fileName>
                {{ selectedFile.name }}
              </template>
            </i18n>
          </p>
        </div>

        <v-btn
          v-if="!isUploadedFilesLimitExceeded"
          outlined
          rounded
          small
          class="mt-3 px-4 py-4 overline"
          color="gray-lighten-1"
          :loading="isSelecting"
          @click="showSelectFileDialog"
        >
          <v-icon
            left
            small
          >
            mdi-upload
          </v-icon>
          <p class="overline ma-0 gray-darken-1--text">
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.files.uploadBtn') }}
          </p>
        </v-btn>
        <input
          ref="uploader"
          class="d-none"
          type="file"
          @change="onFileChanged"
        >
      </div>

      <v-row
        class="pr-9 pt-6"
      >
        <v-spacer />
        <v-btn
          color="error"
          text
          rounded
          @click="deleteItem"
        >
          {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.DetailViewDeleteBtn') }}
        </v-btn>
      </v-row>
      <v-fade-transition>
        <v-overlay
          v-if="dropzoneActive"
          absolute
          color="white"
        >
          <p
            class="text-h5 black--text"
          >
            {{ $vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.files.dragOverMessage') }}
          </p>
        </v-overlay>
      </v-fade-transition>
    </v-card>

    <time-modal
      v-if="showTimeModal"
      :modal="showTimeModal"
      :isLoading="isLoading"
      :currentItem="currentItem"
      :start="currentItem ? currentItem.start : ''"
      :end="currentItem ? currentItem.end : ''"
      @add="updateItem"
      @reset="resetModal('time')"
    />

    <select-project-modal
      :modal="showProjModal"
      :isLoading="isLoading"
      :selected="projectId"
      @add="updateItem"
      @close="close"
      @reset="resetModal('proj')"
    />
  </div>
</template>

<script>
import TimeModal from '../components/Modals/TimeModal'
import SelectProjectModal from '../components/Project/SelectProjectModal'
import { validationMixin } from 'vuelidate'
import { helpers, maxLength } from 'vuelidate/lib/validators'

export const isValidFileSize = (options = {}) => {
  return helpers.withParams(options, value => {
    if (!value) {
      return true
    }
    const fileSizeinMb = value.size / 1024 / 1024
    const size = Math.round(fileSizeinMb * 100) / 100
    return size <= options.maxFileSizeInMB
  })
}

import moment from 'moment'
import 'moment/locale/ru'
import 'moment/locale/en-nz'
import { mapGetters } from 'vuex'

moment.updateLocale('ru', {
  longDateFormat : {
    LT : 'HH:mm',
    llll : 'ddd, D MMM YYYY Г., LT'
  }
})

moment.updateLocale('en', {
  longDateFormat : {
    LT : 'H:mm'
  }
})

export default {
  name: 'DetailView',
  components: {
    'time-modal': TimeModal,
    'select-project-modal': SelectProjectModal
  },
  mixins: [validationMixin],
  props: {
    currentItem: Object,
    items: Array
  },
  data () {
    return {
      name: null,
      description: null,
      project: null,
      projectId: null,
      isLoading: false,
      isUploading: false,
      selectedFile: null,
      fileList: [],
      fileListBuffer: [],
      dropzoneActive: false,
      isSelecting: false,
      uploadFileCountLimit: 5,
      uploadFileSizeLimitInMb: 10,
      url: process.env.VUE_APP_BASE_URL,
      itemIndex: null,

      // modals
      showTimeModal: false,
      showProjModal: false
    }
  },
  validations () {
    return {
      selectedFile: {
        size: isValidFileSize({ maxFileSizeInMB : this.uploadFileSizeLimitInMb })
      },
      fileListBuffer: {
        maxLength: maxLength(this.uploadFileCountLimit)
      }
    }
  },
  computed: {
    ...mapGetters(['uploadPercentage']),

    positions () {
      let len = this.items.length
      
      let index = this.currentItem
      index = this.items.findIndex(i => i.id === index.id)

      let prevIndex = this.items[index === 0 ? len-1 : index - 1]
      prevIndex = this.items.indexOf(prevIndex)

      let nextIndex = this.items[index === len-1 ? 0 : index + 1]
      nextIndex = this.items.indexOf(nextIndex)

      let positions = {
        currentIndex: index,
        prevIndex: prevIndex,
        nextIndex: nextIndex
      }
      return positions
    },
    formattedNotificationDate () {
      let formattedDate
      if (this.currentItem) {
        formattedDate = this.currentItem.notification ? moment(this.currentItem.notification).format('llll') : ''
      }
      return formattedDate
    },
    formattedEventDate () {
      let formattedEventDate

      let start = moment.utc(this.currentItem.start).local().format('YYYY-MM-DD')
      let end = moment.utc(this.currentItem.end).local().format('YYYY-MM-DD')
      let tstart = moment.utc(this.currentItem.start).local().format('LT')
      let tend = moment.utc(this.currentItem.end).local().format('LT')

      let day = ''
      let today = moment().format('YYYY-MM-DD')
      let tomorrow = moment(today).add(1, 'days').format('YYYY-MM-DD')

      if (this.currentItem) {
        // set string like ПН, 20 ИЮЛЯ 2020 Г., 0:00 - 23:59
        // only tend, cause start time already in this.currentItem.start
        if (moment(start).isSame(moment(end), 'day')) {
          // check for today/tomorrow
          if (moment(start).isSame(today) || moment(start).isSame(tomorrow)) {
            day = moment(start).calendar(null, {
              sameDay : `[${this.$vuetify.lang.t('$vuetify.Pages.Events.today')}]`,
              nextDay : `[${this.$vuetify.lang.t('$vuetify.Pages.Events.tomorrow')}]`,
            })
          } else {
            day = moment(this.currentItem.start).format('LL')
          }

          // if all day event, display only day
          if (this.currentItem.full_day) {
            formattedEventDate = `${day}`
          } else {
            // else display day + time
            formattedEventDate = `${day}, ${tstart} - ${tend}`
          }
        } else {
          let date = {
            start: this.currentItem.start ? moment(this.currentItem.start).format('llll') : '',
            end: this.currentItem.end ? moment(this.currentItem.end).format('llll') : ''
          }
          formattedEventDate = `${date.start} - ${date.end}`
        }
      }
      return formattedEventDate
    },
    nameErrors () {
      const errors = []
      if (this.name != null) {
        if (this.name === '') errors.push('Поле является обязательным для заполнения')
        // if only spaces contains
        if (!this.name.replace(/\s/g, '').length) errors.push('Поле является обязательным для заполнения')
      }
      return errors 
    },
    isUploadedFilesLimitExceeded () {
      return this.fileList.length >= this.uploadFileCountLimit ? true : false
    }
  },
  watch: {
    currentItem (newValue) {
      if (newValue) {
        this.setData()
      }
      // if task got time and became an event, close DetailView after set time immediately
      if (this.$router.currentRoute.name === 'Tasks') {
        if (newValue.start && newValue.end) {
          this.close()
        }
      }
    },
    fileList: {
      immediate: true,
      deep: true,
      handler (newValue) {
        newValue.forEach(file => {
          file.image = file.extension.match('image/*') ? true : false
        })
      }
    },
  },
  created () {
    this.updateCurrentItem()
    this.setData()
    moment.locale(this.$store.getters.locale)
  },
  methods: {
    fetchData () {
      this.$emit('fetch')
    },
    setData () {
      // TODO: for other fields too
      this.name = this.currentItem.name
      this.description = this.currentItem.description
      this.notification = this.currentItem.notification
      this.fileList = this.currentItem.files
      this.project = this.currentItem.project ? this.currentItem.project.name : null
      this.projectId = this.currentItem.project ? this.currentItem.project.id : null
    },
    async updateItem (type, value) {
      return new Promise((resolve) => {
        if (this.nameErrors.length === 0) {
          this.$emit('update', type, value)
          this.$nextTick(resolve)
        }
      })
    },
    async clearTime () {
      await this.updateItem('time', {
        'start': null,
        'end': null
      })
      if (this.currentItem.full_day) {
        await this.updateItem('full_day', false)
      }
      // if Project page, keep DetailView opened
      if (this.$router.currentRoute.name === 'Project') return
      this.close()
    },
    async clearProject () {
      await this.updateItem('project', null)
      // if Event page, keep DetailView opened
      if (this.$router.currentRoute.name === 'Events') return
      this.close()
    },
    changeItemImportant () {
      this.isLoading = true
      this.updateItem('important', !this.currentItem.important)
      this.isLoading = false
    },
    getNextSelectedItemId () {
      let nextSelectedItemId
      switch (this.positions.currentIndex) {
        case 0: // first elem
          nextSelectedItemId = this.items[this.positions.nextIndex].id
          break
        case this.items.length - 1: // last elem
          nextSelectedItemId = this.items[this.positions.prevIndex].id
          break
        default: // middle of the items array
          nextSelectedItemId = this.items[this.positions.prevIndex].id
          break
      }
      return nextSelectedItemId
    },
    selectItem (id) {
      this.$emit('select', id)
      this.setData()
    },
    deleteItem () {
      let nextItem = this.getNextSelectedItemId()

      let deleteActionName
      switch (this.$route.name) {
        case 'Tasks':
          deleteActionName = 'deleteTask'
          break
        case 'Events':
          deleteActionName = 'deleteEvent'
          break
        case 'Project':
          this.currentItem.start && this.currentItem.end 
            ? deleteActionName = 'deleteEvent'
            : deleteActionName = 'deleteTask'
          break
      }
      this.$store.dispatch(deleteActionName, this.currentItem.id).then(() => {
        if (this.items.length < 0 || this.currentItem.id === nextItem) {
          this.close()
        } else {
          this.selectItem(nextItem)
        }
        /**
         * cant call fetch/set in action Project module
         * so, check route and call fetch projItems
         */
        if (this.$route.name === 'Project') {
          this.$emit('fetch')
        }
      })
    },
    close () {
      this.$emit('close')
    },
    checkDragFilesCount (e) {
      let files = e.dataTransfer.files
      let folders = 0
      let other = 0
      let info

      // eslint-disable-next-line no-cond-assign
      for (var i = 0, f; f = files[i]; i++) {
          if (!f.type && f.size % 4096 == 0) folders++
          else other++
      }
      
      if (folders && !other) {
          if (folders > 1) info = folders
          else info = 1
      } else if (!folders && other) {
          if (other > 1) info = other
          else info = 1
      } else {
          if (folders > 1) info = folders
          else info = 1
          if (other > 1) info += other
          else info += 1
      }
      
      let count = {
        folders: folders,
        files: info,
        other: other
      }
      return count
    },
    setDropzoneActive () {
      if (this.isUploading) return
      this.dropzoneActive = true
    },
    unsetDropzoneActive () {
      this.dropzoneActive = false
    },
    showFileError (message) {
      this.$store.dispatch('snackbar/show', {
        msg: message,
        type: 'error'
      })
    },
    showSelectFileDialog () {
      this.isSelecting = true
      window.addEventListener('focus', () => {
        this.isSelecting = false
      }, { once: true })
      this.$refs.uploader.click()
    },
    uploadFile () {
      return new Promise((resolve, reject) => {
        // validate file size
        this.$v.$touch()
        // if validation pass, send file to server
        if(!this.$v.$invalid) {
          let formData = new FormData()
          formData.append('file', this.selectedFile)
          formData.append('extension', this.selectedFile.type.match('image.*') ? this.selectedFile.type : '')
          formData.append('name', this.selectedFile.name)
          formData.append('task', this.currentItem.id)

          this.isUploading = true
          this.$store.dispatch('uploadFile', formData)
          .then(() => {
            this.isUploading = false
            this.$store.dispatch('resetUploadPercentage')
            this.fetchData()
            resolve()
          })
          .catch(() => {
            this.isUploading = false
          })
        } else {
          reject()
        }
      })
    },
    async handleDropFiles (e) {
      // if already uploading files, turn off dropzone
      if (this.isUploading) return
      this.unsetDropzoneActive()

      // get all files that user drop
      let files = e.dataTransfer.files
      // also write it to buffer for validate purposes
      this.fileListBuffer = [...e.dataTransfer.files]
      // validate buffer length
      this.$v.fileListBuffer.$touch()
      // if validation pass
      if(!this.$v.fileListBuffer.$error) {
        // upload file one by one
        for (let index = 0; index < files.length; index++) {
          const file = files[index]
          this.selectedFile = file
          await this.uploadFile().then(() => {
            this.updateCurrentItem()
          }).catch(() => {
            // if file size exceed limit in MB, show error msg
            this.showFileError(this.$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.files.maxFileSizeErrorMessage'))
          })
        }
      } else {
        // handle validation error
        this.showFileError(this.$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.files.maxFilesCountErrorMessage'))
      }
    },
    onFileChanged (e) {
      this.selectedFile = e.target.files[0]
      this.uploadFile().then(() => {
        this.updateCurrentItem()
      }).catch(() => {
        /**
         * pseudo handle cancel user-click in select file dialog 
         * show modal only if selectedFile not pass validation
         */ 
        if (this.$v.selectedFile.$invalid) {
          this.showFileError(this.$vuetify.lang.t('$vuetify.Pages.DetailView.DetailViewCard.files.maxFileSizeErrorMessage'))  
        }
      })
    },
    removeFile (id) {
      this.$store.dispatch('deleteFile', id).then(() => {
        this.updateCurrentItem()
        this.fetchData()
      })
    },
    /**
     * onhover file preview show download icon
     */
    selectIndex (index) {
      this.itemIndex = index
    },
    downloadFile (filepath) {
      this.$store.dispatch('getFile', filepath)
      .then((response) => {
        const blob = new Blob([response.data], {type: response.data.type})
        const url = window.URL.createObjectURL(blob)
        const link = document.createElement('a')
        link.href = url
        const contentDisposition = response.headers['content-disposition']
        let fileName = 'unknown'
        if (contentDisposition) {
          const fileNameMatch = contentDisposition.match(/filename="(.+)"/)
          if (fileNameMatch.length === 2)
            fileName = fileNameMatch[1]
        }
        link.setAttribute('download', fileName)
        document.body.appendChild(link)
        link.click()
      })
    },
    /**
     * Func from manipulation mixin that update DetailView current item
     */
    updateCurrentItem () {
      this.$emit('updateCurrentItem')
    },
    showModal (type) {
      switch (type) {
        case 'time':
          this.showTimeModal = !this.showTimeModal
          break
        case 'proj':
          this.showProjModal = !this.showProjModal
          break
      }
    },
    // NOTE: reset modal state from child Modal Component
    resetModal (type) {
      switch (type) {
        case 'time':
          this.showTimeModal = false
          break
        case 'proj':
          this.showProjModal = false
          break
      }
    },
  },
}
</script>