<template>
  <div>
    <v-speed-dial
      v-if="!hideBtn"
      v-model="fab"
      bottom
      right
      direction="top"
      transition="fade-transition"
      fixed
    >
      <template v-slot:activator>
        <v-btn
          v-model="fab"
          color="primary"
          dark
          fab
        >
          <v-icon v-if="fab">
            mdi-close
          </v-icon>
          <v-icon v-else>
            mdi-plus
          </v-icon>
        </v-btn>
      </template>

      <v-tooltip
        left
        color="accent"
        :value="true"
        fixed
      >
        <template v-slot:activator="{ attrs }">
          <v-btn
            fab
            dark
            small
            color="accent"
            v-bind="attrs"
            @click="changeShowDialog(); setType('task')"
          >
            <v-icon>mdi-format-list-bulleted</v-icon>
          </v-btn>
        </template>
        <span>{{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.fabBtn.taskText') }}</span>
      </v-tooltip>

      <v-tooltip
        left
        color="accent"
        :value="true"
        fixed
      >
        <template v-slot:activator="{ attrs }">
          <v-btn
            fab
            dark
            small
            color="accent"
            v-bind="attrs"
            @click="changeShowDialog(); setType('event')"
          >
            <v-icon>mdi-calendar-month</v-icon>
          </v-btn>
        </template>
        <span>{{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.fabBtn.eventText') }}</span>
      </v-tooltip>

      <v-tooltip
        left
        color="accent"
        :value="true"
        fixed
      >
        <template v-slot:activator="{ attrs }">
          <v-btn
            fab
            dark
            small
            color="accent"
            v-bind="attrs"
            @click="showProjectModal"
          >
            <v-icon>mdi-folder-outline</v-icon>
          </v-btn>
        </template>
        <span>{{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.fabBtn.projectText') }}</span>
      </v-tooltip>
    </v-speed-dial>

    <add-dialog
      v-if="showDialog"
      :dialog="showDialog"
      :type="type"
      @reset="resetShowDialog"
    />
  </div>
</template>

<script>
import AddDialog from '../components/AddDialog'

import { EventBus } from '../main'

export default {
  name: 'FabBtn',
  components: {
    'add-dialog': AddDialog,
  },
  props: {
    hideBtn: Boolean
  },
  data () {
    return {
      fab: false,
      type: null,
      showDialog: false,
    }
  },
  methods: {
    changeShowDialog () {
      this.showDialog = !this.showDialog
    },
    resetShowDialog () {
      this.showDialog = false
    },
    showProjectModal () {
      EventBus.$emit('showProjectModal')
    },
    setType (type) {
      this.type = type
    }
  },
}
</script>