<template>
  <div>
    <v-btn
      id="google-btn"
      color="white"
      height="50"
      width="360"
      class="mx-auto login-form__btn google-btn"
      :loading="isLoading"
      @click="signIn"
    >
      <v-icon
        left
        small
      />
      {{ text }}
    </v-btn>
  </div>
</template>

<script>
export default {
  name: 'GoogleAuthButton',
  props: {
    text: String
  },
  data () {
    return {
      isLoading: false,
    }
  },
  methods: {
    signIn () {
      this.isLoading = true
      this.$gAuth.signIn()
      .then((response) => {
        const googleUser = response
        let authResponse = googleUser.getAuthResponse()
        let idToken = authResponse.id_token
        this.$store.dispatch('googleSignIn', idToken).then(() => {
          this.$router.push('/tasks')
        })
      }).catch(() => {
        this.isLoading = false
      })
    }
  },
}
</script>