<template>
  <div id="navigation">
    <v-navigation-drawer
      v-model="drawerLeft"
      :clipped="$vuetify.breakpoint.lgAndUp"
      :temporary="temporaryDrawers"
      app
      width="290"
      left
    >
      <v-list
        class="navigation-menu__list"
      >
        <template v-for="item in leftSidebarItems">
          <v-list-group
            v-if="item.children"
            :key="item.id"
            v-model="item.open"
            prepend-icon=""
            append-icon=""
            sub-group
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title class="title pl-5">
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              link
              :class="{ 'child-item': !item.dotMark }"
              :to="child.link"
              exact
            >
              <v-list-item-content>
                <template v-if="!!child.count">
                  <v-badge
                    :color="child.color ? child.color : 'gray-lighten-1'"
                    :content="child.count"
                    inline
                  >
                    <v-list-item-title class="body-1">
                      {{ child.text }}
                    </v-list-item-title>
                  </v-badge>
                </template>
                <template v-else>
                  <v-list-item-title
                    class="body-2 gray--text d-flex justify-space-between align-center"
                  >
                    {{ child.text }}
                    <v-icon
                      color="gray"
                      v-text="child.appendIcon"
                    />
                  </v-list-item-title>
                </template>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <div
            v-if="item.showTreeView && item.open"
            :key="item.text"
          >
            <project-list />
          </div>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer
      v-model="drawerRight"
      :clipped="$vuetify.breakpoint.lgAndUp"
      :temporary="temporaryDrawers"
      app
      width="370"
      right
    >
      <!-- SEARCH BAR -->
      <app-search />

      <!-- CALENDAR -->
      <v-card
        class="pa-4"
        flat
      >
        <v-row justify="center">
          <v-date-picker
            v-model="calendarDate"
            no-title
            :locale="$store.getters.locale"
            :events="events"
            :first-day-of-week="1"
            event-color="accent"
            color="primary"
            @click:date="goToEvents"
          />
        </v-row>
      </v-card>
    </v-navigation-drawer>

    <v-app-bar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      clipped-right
      app
      color="white"
      dark
      height="72"
    >
      <v-app-bar-nav-icon
        color="gray-darken-2"
        @click.stop="drawerLeft = !drawerLeft"
      />
      <v-toolbar-title
        style="width: 300px"
        class="ml-0 pl-4"
      >
        <v-img
          src="@/img/logo-horizontal.png"
          contain
          height="47"
          width="156"
        />
      </v-toolbar-title>
      <v-spacer />

      <!-- NAV BTNS -->

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            class="gray-darken-2--text"
            v-on="on"
            @click.stop="drawerRight = !drawerRight"
          >
            <v-icon>mdi-calendar</v-icon>
          </v-btn>
        </template>
        <span>{{ $vuetify.lang.t('$vuetify.Pages.Navigation.topBar.calendarTooltip') }}</span>
      </v-tooltip>

      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            class="gray-darken-2--text"
            to="/account"
            v-on="on"
          >
            <v-icon>mdi-settings</v-icon>
          </v-btn>
        </template>
        <span>{{ $vuetify.lang.t('$vuetify.Pages.Navigation.topBar.settingsTooltip') }}</span>
      </v-tooltip>
    </v-app-bar>

    <!-- FAB BTN -->
    <fab-btn
      :hideBtn="hideFabBtn"
    />
  </div>
</template>

<script>
import ProjectList from '../components/Project/ProjectList'
import FabBtn from '../components/FabBtn'
import Search from '../components/Search'
import { mapGetters } from 'vuex'

export default {
  name: 'Navigation',
  components: {
    'project-list': ProjectList,
    'fab-btn': FabBtn,
    'app-search': Search
  },
  data: () => ({
    drawerLeft: null,
    drawerRight: null,
    temporaryDrawers: false,
    events: [],
    routeName: null
  }),
  computed: {
    ...mapGetters([
      'tasksCount', 
      'eventsCount'
    ]),

    calendarDate: {
      get () {
        return this.$store.state.events.calendarDate
      },
      set (value) {
        this.$store.commit('setCalendarDate', value)
      }
    },
    hideFabBtn () {
      return this.routeName === 'PageNotFound' || this.routeName === 'Account' || this.routeName === 'Feedback' ? true : false
    },
    leftSidebarItems () {
      let items = [
        {
          id: 1,
          text: this.$vuetify.lang.t('$vuetify.Pages.Navigation.leftSidebar.lists[0]'),
          open: true,
          dotMark: false,
          showTreeView: false,
          children: [
            { text: this.$vuetify.lang.t('$vuetify.Pages.Navigation.leftSidebar.lists[1][0]'), count: '0', link: '/events' },
            { text: this.$vuetify.lang.t('$vuetify.Pages.Navigation.leftSidebar.lists[1][1]'), count: '0', link: '/tasks' }
          ]
        },
        {
          id: 2,
          icon: 'mdi-chevron-up',
          text: this.$vuetify.lang.t('$vuetify.Pages.Navigation.leftSidebar.lists[1][2]'),
          open: true,
          dotMark: false,
          showTreeView: true,
          children: []
        },
      ]
      return items
    }
  },
  watch: {
    tasksCount: {
      immediate: true,
      deep: true,
      handler () {
        if (this.tasksCount) {
          this.leftSidebarItems[0].children[1].count = this.tasksCount 
        } else {
          this.leftSidebarItems[0].children[1].count = '0'
        }
      }
    },
    eventsCount: {
      immediate: true,
      deep: true,
      handler () {
        if (this.eventsCount) {
          this.leftSidebarItems[0].children[0].count = this.eventsCount 
        } else {
          this.leftSidebarItems[0].children[0].count = '0'
        }
      }
    },
    '$route': 'currentRoute',
    '$vuetify.breakpoint.width': {
      immediate: true,
      handler (newValue) {
        this.drawerLeft = newValue <= 1600 ? false : true
        this.drawerRight = newValue <= 1600 ? false : true
        this.temporaryDrawers = newValue <= 1600 ? true : false
      }
    },
  },
  created () {
    this.$store.dispatch('setFeedDays')
    this.$store.dispatch('resetSearch')
    /**
     * Preload data for app
     */
    this.$store.dispatch('getGrouppedEvents')
    this.$store.dispatch('getTasks')
    this.$store.dispatch('getAllFlattenProjects')
    this.$store.dispatch('getProjectBackgrounds', {
      name: 'project_background'
    })
  },
  methods: {
    exit () {
      this.$store.dispatch('logout').then(() => {
        this.$router.push('/login')
        this.$store.dispatch('resetTasksState')
      })
    },
    setCalendarDate () {
      this.$store.dispatch('setCalendarDate', this.date)
    },
    goToEvents () {
      if (this.$route.name != 'Events') {
        this.$router.push({
          name: 'Events',
          params: {
            loadDate: this.calendarDate
          }
        })
      }
      this.$store.dispatch('setFeedDays')
    },
    currentRoute () {
      this.$nextTick(() => {
        this.routeName = this.$route.name
      })
    }
  }
}
</script>
