<template>
  <v-app-bar
    fixed
    color="white"
    :dark="dark"
    flat
    min-height="70"
    max-height="70"
    shrink-on-scroll
    fade-img-on-scroll
    scroll-target="#content"
    scroll-threshold="500"
  >
    <template
      v-slot:img="{ props }"
    >
      <v-img
        v-bind="props"
        src="@/img/home/v6-circles.png"
      />
    </template>
    <v-container
      class="py-0"
    >
      <v-row
        class="align-center"
      >
        <v-col
          cols="12"
          md="1"
          offset-lg="2"
          class="pa-0"
        >
          <v-toolbar-title
            class="ml-0"
          >
            <v-img
              v-if="!inverted"
              src="@/img/home/logo.png"
              contain
              height="50"
            />
            <v-img
              v-else
              src="@/img/home/logo-inverted.png"
              contain
              height="47"
            />
          </v-toolbar-title>
        </v-col>
        <v-col
          v-if="!$vuetify.breakpoint.smAndDown"
          cols="2"
          md="3"
          offset="2"
          offset-md="8"
          offset-lg="6"
          class="d-flex"
        >
          <v-btn
            text
            outlined
            height="40"
            class="subtitle-2 header-btn--auth"
            :class="{ 'header-btn--auth__inverted' : inverted }"
            @click="auth"
          >
            {{ this.$vuetify.lang.t('$vuetify.Home.navbar.login') }}
          </v-btn>

          <v-btn
            text
            outlined
            height="40"
            class="subtitle-2 ml-7 header-btn"
            :class="{ 'header-btn__inverted' : inverted }"
            @click="register"
          >
            {{ this.$vuetify.lang.t('$vuetify.Home.navbar.register') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script>
export default {
  name: 'NonAuthNavbar',
  props: {
    offset: Number,
    inverted: Boolean,
    dark: Boolean
  },
  methods: {
    auth () {
      this.$router.push('/login')
    },
    register () {
      this.$router.push('/register')
    },
  },
}
</script>