<template>
  <div class="quick-task">
    <v-card
      :loading="isLoading"
      outlined
    >
      <v-col
        cols="12"
        class="d-flex align-center"
      >
        <v-form
          class="quick-task__form d-flex align-center"
          @submit.prevent="addTask"
        >
          <v-text-field
            v-model="name"
            class="quick-task__input py-3"
            label=""
            :placeholder="$vuetify.lang.t('$vuetify.Pages.Tasks.quickTaskPlaceholder')"
            outlined
            hide-details
            autofocus
            :maxlength="200"
          />
          <v-btn
            fab
            depressed
            class="primary ml-2"
            :disabled="isEmpty"
            @click="addTask"
          >
            <v-icon>mdi-arrow-up</v-icon>
          </v-btn>
        </v-form>
      </v-col>
    </v-card>
  </div>
</template>

<script>
import { EventBus } from '../main'

export default {
  name: 'QuickTask',
  // NOTE: cause async fetch in parent Tasks.vue
  props: {
    tasks: Array
  },
  data () {
    return {
      name: null,
      isLoading: false
    }
  },
  computed: {
    isEmpty () {
      if (this.name === '' || this.name === null) {
        return true
      }
      if (!this.name.replace(/\s/g, '').length) {
        return true
      }
      return false
    }
  },
  methods: {
    addTask () {
      if (!this.isEmpty) {
        this.isLoading = true
        this.$store.dispatch('addTask', { 
          name: this.name,
          project: this.$route.params.id ? this.$route.params.id : null
        }).then(() => {
          EventBus.$emit('selectNew')
          this.resetData()
          this.isLoading = false
        })
      }
    },
    resetData () {
      this.name = null
    }
  }
}
</script>
