<template>
  <v-autocomplete
    id="search"
    :search-input.sync="searchQuery"
    :items="pagedSearchResults"
    :loading="isLoading"
    :menu-props="menuProps"
    no-filter
    return-object
    outlined
    rounded
    hide-details
    allow-overflow
    prepend-inner-icon="mdi-magnify"
    height="40"
    label=""
    :placeholder="$vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.search.searchPlaceholder')"
    class="search-bar hidden-sm-and-down mx-4 my-4"
    color="primary"
    @focus="resetSearch"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title>
          {{ $vuetify.lang.t('$vuetify.Pages.Navigation.rightSidebar.search.emptySearchMessage') }}
        </v-list-item-title>
      </v-list-item>
    </template>
    <template v-slot:item="{ item }">
      <v-list-item
        link
        @click="selectFoundItem(item)"
      >
        <v-list-item-icon>
          <v-icon>
            {{ (item.start && item.end) ? ('mdi-calendar-month') : (((!Object.prototype.hasOwnProperty.call(item, 'start') && !Object.prototype.hasOwnProperty.call(item, 'end'))) ? ('mdi-folder-outline') : ('mdi-format-list-bulleted')) }}
          </v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title
            :inner-html.prop="highlight(item.name, searchQuery)"
          />
          <v-list-item-subtitle>{{ item.project ? item.project.name : '' }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </template>
    <template
      slot="selection"
      slot-scope="data"
    >
      {{ data.item.name }}
    </template>
    <template v-slot:append-item>
      <div
        v-if="isInfiniteLoaderVisible"
        v-observe-visibility="{
          callback: visibilityChanged
        }"
        class="text-xs-center"
      >
        Loading more items ...
      </div>
    </template>
  </v-autocomplete>
</template>

<script>
import { EventBus } from '../main'
import { mapGetters } from 'vuex'

export default {
  name: 'Search',
  data () {
    return {
      isLoading: false,
      isLastPage: false,
      pagination: {
        total: 0,
        itemsPerPage: 5
      },
      menuProps: {
        'transition': 'slide-y-transition',
        'maxHeight': '300px'
      },
    }
  },
  computed: {
    ...mapGetters([
      'searchResults',
      'searchResultsTotal'
    ]),

    searchQuery: {
      get () {
        return this.$store.state.utils.searchQuery
      },
      set (value) {
        this.$store.commit('setSearchQuery', value)
      }
    },
    isInfiniteLoaderVisible () {
      return this.pagination.total > this.pagination.itemsPerPage
        ? true
        : false
    },
    pagedSearchResults () {
      var pagedSearchResults = JSON.parse(JSON.stringify(this.searchResults))
      return pagedSearchResults.splice(0, this.pagination.itemsPerPage)
    }
  },
  watch: {
    searchQuery () {
      if (this.searchQuery && this.searchQuery.length > 2) {
        this.search()
      } else {
        this.resetSearch()
      }
    },
    searchResults: {
      immediate: true,
      handler () {
        if (this.searchResults) {
          this.pagination.total = this.searchResultsTotal
        }
      }
    }
  },
  methods: {
    resetSearch () {
      this.$store.dispatch('resetSearchResults')
      this.pagination = {
        total: 0,
        itemsPerPage: 5
      }
    },
    nextPage () {
      this.pagination.itemsPerPage += 5
    },
    visibilityChanged (e) {
      e && this.nextPage()
    },
    search () {
      this.isLoading = true
      this.$store.dispatch('search').then(() => {
        this.isLoading = false
      })
    },
    escapeRegex (string) {
      return string.replace(/[-/\\^$*+?.()|[\]{}]/g, '\\$&')
    },
    highlight (words, query) {
      let pattern = new RegExp(this.escapeRegex(query))
      return words.replace(pattern, '<span class=\'highlight\'>' + query + '</span>')
    },
    // REFACTOR: ? change to switch or firstly set type, 
    //             then set payload body
    checkFoundItemRouteType (item) {
      let route
      // TASK
      // task + proj
      if (!item.start && !item.end && item.project) {
        route = {
          name: `Project`,
          params: {
            id: `${item.project.id}`,
            itemToSelect: item
          }
        }
      }
      // task - proj
      if (!item.start && !item.end && !item.project) {
        route = {
          name: `Tasks`,
          params: {
            itemToSelect: item
          }
        }
      }
      // EVENT
      if (item.start && item.end && (item.project || !item.project)) {
        route = {
          name: `Events`,
          params: {
            itemToSelect: item
          }
        }
      }
      // PROJECT
      if (!Object.prototype.hasOwnProperty.call(item, 'start') && !Object.prototype.hasOwnProperty.call(item, 'end')) {
        route = {
          path: `/project/${item.id}`,
          params: {
            itemToSelect: item
          }
        }
      }
      return route
    },
    selectFoundItem (item) {
      let route = this.checkFoundItemRouteType(item)
      if (this.$route.name === route.name && this.$route.params.id === route.params.id) {
        route.name === 'Events'
          ? (EventBus.$emit('passEventToSelect', item)) 
          : ((route.name === 'Project') 
            ? (EventBus.$emit('passItemToSelect', item)) 
            : (EventBus.$emit('passTaskToSelect', item)))
      } else {
          this.$router.push(route)
      }
    },
  },
}
</script>