<template>
  <v-snackbar 
    :value="isShowing" 
    :timeout="timeout"
  >
    {{ params.msg }}
    <v-btn
      :color="params.type"
      text
      @click="close"
    >
      {{ params.action ? params.action : this.$vuetify.lang.t('$vuetify.Pages.Snackbar.Action.close') }}
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Snackbar',
  data () {
    return {
      timeout: 3000
    }
  },
  computed: {
    ...mapGetters('snackbar', {
      isShowing: 'isShowing',
      params: 'params'
    })
  },
  watch: {
    isShowing (newValue) {
      if (newValue) {
        setTimeout(() => {
          // call only if user not dismiss
          if (this.isShowing) {
            this.$store.dispatch('snackbar/hide')
          }
        }, this.timeout)
      }
    }
  },
  methods: {
    close () {
      // forward to Event/Task with naming routes
      if (this.params.route) {
        this.$router.push({
          name: this.params.route,
          params: {
            snackbarAction: true
          }
        })
      } 
      // forward to /project/${id} with path routes
      if (this.params.path) {
        this.$router.push(this.params.path)
      }
      // else hide snack
      else {
        this.$store.dispatch('snackbar/hide')
      }
    }
  },
}
</script>