.task-start__input,
.task-end__input,
.task-alarm__input
  &-date
    border-radius: 12px
    .v-input__control
      .v-input__slot
        padding: 0 14px !important
  &-time
    border-radius: 12px
    .v-input__control
      .v-input__slot
        padding: 0 10px !important
    [disabled]
        color: $gray !important
  
  /* close icon small, fix position */
  &-date,
  &-time
    .v-input__control
      .v-input__slot
        .v-input__append-inner
          position: absolute
          right: 3px
          bottom: 7px
          .v-input__icon--clear
            button
              font-size: 15px !important

#task-start__input-date,
#task-start__input-time,
#task-end__input-date,
#task-end__input-time
  @include smInputText($primary-darken-2)
  &::placeholder
    @include smInputText($primary-darken-2)

#task-alarm__input-date,
#task-alarm__input-time
  @include smInputText($accent-darken-2)
  &::placeholder
    @include smInputText($accent-darken-2)

.add-dialog
  &__save-btn,
  &__discard-btn
    padding: 10px 15px !important