.card
  padding: 16px 30px 10px 25px
  border-radius: 12px !important
  background: $white
  position: relative
  &-project
    height: 20px
    width: 300px
    overflow: hidden
    text-overflow: ellipsis
    word-break: break-all
    white-space: nowrap
  &-body
    width: 100%
    .card-name
      word-break: break-word
      white-space: normal
  &--important
    border: 1px solid $error-darken-1 !important
  &--done
    .card-name
      color: $gray-darken-1
      text-decoration: line-through $gray-darken-1
  &--active
    background-color: $primary-lighten-3 !important
  &__tags
    // FIXME: badge prop position
    position: relative
    width: 140px
    display: flex
    flex-wrap: wrap
  span.v-badge__badge
    width: 16px
    height: 8px
  &__checkbox
    margin: 0
    display: flex
    align-items: center
  &__details
    &-params
      width: 40px
      display: flex
      justify-content: space-between
  .subtitle-2
    text-transform: uppercase
  .v-input--selection-controls
    margin: 0
  .mdi-checkbox-blank-outline::before
    content: "\F130"
  .mdi-checkbox-marked::before
    content: "\F133"

.v-card--link:focus:before
  opacity: 0 !important