.detail-card
  border-radius: 12px !important
  background: $white
  overflow-y: auto
  &--important
    border: 1px solid $error-darken-1 !important
  &__proj--proj-input,
  &__time--time-input,
  &__alarm--alarm-input,
  &__repeat--repeat-input
    .v-input__control
      .v-input__slot
        padding: 0px 15px
        min-height: 35px !important
        .v-input__prepend-inner,
        .v-input__append-inner
          padding-right: 10px
          margin-top: 10px !important
        & fieldset
          border: 1px solid $gray-lighten-2
  // alarm input styles for clear btn + divider REFACTOR: to mixin for other fields
  &__alarm--alarm-input
    .v-input__control
      .v-input__slot
        .v-input__append-inner
          position: relative 
          left: 6px
          & hr
            border: 1px solid $accent-lighten-2
  &__priority
    button
      height: 33px !important
  &__files
    &--files-input
      @include body2()
      color: $gray
    .v-text-field--outlined fieldset
      border-style: dashed
    // placeholder styles
    .v-input__control
      .v-input__slot
        .v-text-field__slot div
          display: flex
          justify-content: center
          color: $gray

  &--done
    #name--textarea
      color: $gray-darken-2 !important
    #description--input
      color: $gray-darken-1
  .add-chip
    border-style: dashed
    @include body2()

.dropzone-active
  background-color: $white !important

.text-h5
  font-weight: 400
  font-size: 1.5rem !important
  letter-spacing: normal !important

#name--textarea
  line-height: 35px
    
#time-input,
#proj-input
  display: table-cell
  border: 1px solid $gray-lighten-2
  border-radius: 28px
  .v-input__slot
    margin: 0
    padding: 0 10px
    min-height: 35px !important
    hr
      height: 18px
    .v-text-field__slot
      input
        padding: 5px 10px
        cursor: pointer
        @include overline()
        outline: none !important
        text-overflow: ellipsis
        &::placeholder
          @include overline()