// LEFT SIDEBAR
.navigation-menu
  &__list
    padding: 24px 0
.child-item > div
  padding: 0 0 0 20px
.v-list-item__icon.py-0
  margin: 0
.v-list .v-list-item--active 
  span
    span
      background-color: $primary !important
      border-color: $primary !important
      height: 20px
      border-radius: 50%
.v-application--is-ltr .v-list-group--sub-group .v-list-group__header
  border-bottom: 1px solid $gray-lighten-1
.v-list-item--active
  &::before
    background-color: transparent !important
  &:hover
    background-color: $gray-lighten-3
.v-list-group__items
  a
    .v-ripple__container
      display: none
// RIGHT SIDEBAR
.search-bar
  .v-input__control
    .v-input__slot
      min-height: 40px !important
      padding: 0 15px
      .v-input__prepend-inner
        margin-top: 9px
        padding-right: 15px
      // hide combobox arrow
      .v-select__slot
        .v-input__append-inner
          display: none
#search
  &::placeholder
    @include subtitle1()

.highlight
  font-weight: bold
  color: $gray-darken-2

.v-autocomplete__content
  .v-list
    max-width: 340px