.header-btn
  border: none
  &--auth
    border: 1px solid $white !important
    color: $white
    &__inverted
      border: 1px solid $primary-darken-2 !important
      color: $primary-darken-2 !important
      &:hover
        background-color: $primary-darken-2 !important
        color: $white !important
  &--auth:hover,
  &:hover
    background-color: $white
    color: $primary-darken-2
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1)
  &__inverted
    color: $primary-darken-2
    &:hover
      background-color: $primary-darken-2 !important
      color: $white !important