.notification-modal
  &__title
    border-bottom: 1px solid $gray-lighten-1
  &__body
    &--input
      border-radius: 12px
      .v-input__control
        .v-input__slot
          padding: 0 10px !important
          .v-input__append-inner
            position: absolute
            right: 3px
            .v-input__icon--clear
              button
                font-size: 15px !important