.account
  height: 100%
  .container
    height: calc( 100vh - 70px )
    overflow-y: scroll
  &-card
    &__password
      &-row
        height: 65px

#google-calendar-btn
  text-transform: math-auto
  .icon-wrapper
    background-color: $white
    margin-left: -6px
  span
    i
      background: url('./img/g-logo.png') transparent 5px 50% no-repeat
      display: inline-block
      vertical-align: middle
      width: 28px
      height: 36px
