.py-60
  padding: 60px 0
.events
  height: 100%
  &--empty
    color: $gray-darken-1
  &-scroll
    max-height: 92vh
    overflow-y: scroll
  &__left-side
    overflow-y: hidden
    height: calc( 100vh - 70px )
  &__right-side
    border-left: 1px solid $gray-lighten-1

/* scrollbar styles */
/* scrollbar firefox*/
.scroller
  scrollbar-width: thin
  scrollbar-color: #888 $gray

/* width */
::-webkit-scrollbar
  width: 6px

/* Track */
::-webkit-scrollbar-track
  background: $gray-lighten-1

/* Handle */
::-webkit-scrollbar-thumb
  background: #888

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  background: #555
