@import '~vuetify/src/styles/styles.sass'
.home
  height: 100vh
  overflow-y: hidden
  header
    .v-toolbar__image
      .v-responsive
        .v-image__image
          @include backgroundHomePageHeader(left, top)
  &-content
    background: linear-gradient(180deg, #FFFFFF 0%, #D7E2EC 100%)
    overflow-y: scroll
    height: 100%
  &-title
    @include backgroundHomePageHeader(left 1px, top -3px)
    .wave
      position: relative
      top: 1px
      width: 100%
      margin: 0
  &-testimonials
    position: relative
    height: 300px
    &--bg
      background: linear-gradient(90deg, #6B98BF 0%, #324359 100%)
      border-radius: 20px
      z-index: 1
    &__card
      border-radius: 20px !important
      position: relative
      &-list
        position: relative
        z-index: 2
        bottom: 200px
      &--content
        .avatar
          position: relative
          bottom: 50px
    .swiper
      height: 300px !important
      display: flex
      align-items: center
      height: 220px

@media #{map-get($display-breakpoints, 'md-and-down')}
  .home
    &-title
      @include backgroundHomePageHeader(left, top)
    header
      .v-toolbar__image
        .v-responsive
          .v-image__image
            @include backgroundHomePageHeader(left, top)
    
  
.main
  &-text
    height: 350px
    display: flex
    flex-direction: column

.subscribe-btn
  background: linear-gradient(128.44deg, #D7E2EC 8.93%, #FCFCFD 58.74%)
  color: $primary-darken-1
  &:hover
    background: linear-gradient(113.79deg, #324359 5.38%, #6B98BF 94.85%)
    color: $white
    transition: all 0.5s cubic-bezier(0.000, 0.000, 0.230, 1)

/* HELPER CLASSES */
.pt-170
  padding-top: 170px
.pt-90
  padding-top: 90px
.full-width
  width: 100%
.fit-parent
  width: 100%
  margin: 0

.errors
  .v-input__control
    .v-input__slot
      & fieldset
        border: 2px solid $error

/* set swiper pagination color */
.swiper-pagination-bullet-active
  background-color: $primary !important