.login-page
  height: 100vh
.logo
  margin: 40px 0
.px-12-custom
  padding: 0 60px !important
.login-form
  &__btn
    border-radius: 5px
  &__divider
    border: 2px solid $gray-lighten-2
    width: 360px
  &__links
    width: 320px
    a
      text-decoration: none
#circle
  width: 3px
  height: 3px
  background: $gray
  border-radius: 50px
.v-card__actions
  p
    text-transform: uppercase
    font-size: 17px
    line-height: 20px