.project
  &__left-side
    overflow-y: scroll
    height: calc( 90vh - 70px )
    &--name-project
      width: 85%
      text-overflow: ellipsis
      overflow: hidden
  &__right-side
    border-left: 1px solid $gray-lighten-1

.v-treeview-node
  // content padding, save background hover/select
  .v-treeview-node__root
    padding-left: 35px
    .v-treeview-node__content
      // remove link underline
      .v-treeview-node__label a
        text-decoration: none
.treeview-link
  @include body1()
  color: $black !important
.exact-active
  color: $primary !important