<template>
  <!-- TODO: define proper theme change -->
  <v-app>
    <app-navigation
      v-if="!this.$route.meta.Independent && this.$store.getters.isAuth"
    />
    <v-content
      :style="{ background: errorPage ? $vuetify.theme.themes[theme]['white'] : $vuetify.theme.themes[theme]['gray-lighten-2'] }"
    >
      <transition name="swipe-page">
        <router-view />
      </transition>
    </v-content>
    <app-snackbar />
  </v-app>
</template>

<script>
import Navigation from './components/Navigation'
import Snackbar from '@/components/Snackbar.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'App',
  components: {
    'app-navigation': Navigation,
    'app-snackbar': Snackbar
  },
  data: () => ({
    routeName: null
  }),
  computed: {
    ...mapGetters(['isAuth']),

    theme () {
      return this.$vuetify.theme.dark ? 'dark' : 'light'
    },
    errorPage () {
      return this.routeName === 'PageNotFound' ? true : false
    }
  },
  watch: {
    '$route': 'currentRoute',
  },
  created () {
    document.title = 'Listick'
  },
  methods: {
    currentRoute () {
      this.$nextTick(() => {
        this.routeName = this.$route.name
      })
    }
  },
}
</script>
<style lang="sass">
  @import "~@/sass/style.sass"
</style>
